/1 - Decoding 1.pdf
/2 - Decoding 2.pdf
/3 - NL Parsing with Context-free Grammars.pdf
/4 - NL Dependency Parsing.pdf
/5 - Probability Distributions on Structured Obj.pdf
/6 - Soft Inference & Posterior Marginals.pdf
/7 - Minimum Bayes Risk.pdf
/8 - Lagrangian Relaxation 4 MAP Inference.pdf
