/1 - Intro.pdf
/2 - Basics.pdf
/3 - Probability Distributions.pdf
/4 - Intro Information Theory.pdf
/5 - Noninformative priors.pdf
/6 - Generalized Linear Models.pdf
/7 - PGMs.pdf
/8 - Inference in PGMs.pdf
/9 - Variational Inference.pdf
