/1 - Course Goals and Introduction to Maximum Fl.pdf
/10 - The Minimax Theorem and Algorithms for Lin.pdf
/11 - Online Learning and the Multiplicative Wei.pdf
/12 - Applications of Multiplicative Weights to .pdf
/13 - Online Scheduling and Online Steiner Tree.pdf
/14 - Online Bipartite Matching.pdf
/15 - Introduction to Approximation Algorithms.pdf
/16 - The Traveling Salesman Problem.pdf
/17 - Linear Programming and Approximation Algor.pdf
/18 - Five Essential Tools for the Analysis of R.pdf
/19 - Beating Brute-Force Search.pdf
/2 - Augmenting Path Algorithms for Maximum Flow.pdf
/20 - The Maximum Cut Problem and Semidefinite P.pdf
/3 - The Push-Relabel Algorithm for Maximum Flow.pdf
/4 - Applications of Maximum Flows and Minimum C.pdf
/5 - Minimum-Cost Bipartite Matching.pdf
/6 - Generalizations of Maximum Flow and Biparti.pdf
/7 - Linear Programming -  Introduction and Appl.pdf
/8 - Linear Programming Duality 1.pdf
/9 - Linear Programming Duality 2.pdf
