/1 - Overview.pdf
/10 - Perceptrons 2.pdf
/11 - Perceptrons 3.pdf
/12 - Matrix Factorization with SGD.pdf
/13 - Large-scale Matrix Factorization.pdf
/14 - Midterm 1 Review.pdf
/15 - DL 1.pdf
/15 - Randomized Algorithms 1 - The Hash Trick.pdf
/16 - DL 2 - Autodiff.pdf
/17 - DL 3 - Training Tricks.pdf
/18 - Computing with GPUs.pdf
/19 - Randomized Algorithms 2 - Bloom Filters.pdf
/2 - Probability Review.pdf
/20 - Intro 2 Semi Supervised Learning.pdf
/21 - Scalable Sampling.pdf
/22 - LDA.pdf
/23 - Graph Spectral Clustering.pdf
/24 - Parameter Servers.pdf
/25 - Final Review.pdf
/4 - Hadoop.pdf
/5 - Big ML.pdf
/6 - Workflows and Abstractions 4 MapREduce.pdf
/7 - Guinea Pig - A workflow package 4 python.pdf
/8 - Scalable Logistic Regression.pdf
/9 - Perceptrons 1.pdf
