/1 -  Turing Machines, Undecidable Functions, Co.pdf
/10 - Deterministic Communication Complexity, De.pdf
/11 - Communication Complexity Applications, Set.pdf
/3 -  Examples of Karp Reductions, Types of Comp.pdf
/5 -  TQBF is PSPACE-complete, results in Space .pdf
/5 - TQBF is PSPACE-complete, results in Space C.pdf
/6 - Error amplification, BPP and Ppoly.pdf
/7 - Circuit Complexity.pdf
/8 - The Switching Lemma, AC0 Circuit Lower Boun.pdf
/9 - Pseudorandom Generator, SAT Algorithms, PAC.pdf
