/completing-the-square.pdf
/conditional-exponential-distributions.pdf
/conditional-gamma-distribution.pdf
/convex-optimization.pdf
/directional-derivative.pdf
/language-notation-examples.pdf
/multiclass-review-ranking.pdf
/notation-note.pdf
/poisson-gradient-boosting.pdf
/proportionality.pdf
/svm-lecture-prep.pdf
/SVM-main-points.pdf
/svm-notes.pdf
