/1 - Intro.pdf
/10 - Variance Reduction & Ensemble Methods.pdf
/11 - Ensembles - Boosting.pdf
/12 - Unsupervised Learning - Clustering.pdf
/13 - PCA.pdf
/14 - Bayesian Methods.pdf
/15 - Bayesian Methods - Naive Bayes.pdf
/16 - Logistic Regression.pdf
/17 - Mixture Models & EM.pdf
/18 - NNs.pdf
/19 - RL.pdf
/2 - Perceptron.pdf
/3 - SVMs.pdf
/4 - Duality & Kernel Methods.pdf
/5 - SVMs with Slack.pdf
/6 - Decision Trees.pdf
/7 - KNN.pdf
/8 - Learning Theory.pdf
/9 - More Learning Theory.pdf
