/10 - Wrap-up and Final Review.pdf
/2 - Probability Distributions.pdf
/3 - Regression.pdf
/4 - Bayesian inference.pdf
/5 - Classification.pdf
/6 - Gaussian Processes.pdf
/7 - Mixture Models.pdf
/8 - Latent Variable Models.pdf
/9 - Modeling Sequential Data.pdf
