/10 - Regression, including Least-Squares Linear.pdf
/11 - More Regression_ Newton’s Method_ ROC Curv.pdf
/12 - Statistical Justifications_ the Bias-Varia.pdf
/13 - Shrinkage - Ridge Regression, Subset Selec.pdf
/14 - The Kernel Trick.pdf
/15 - Decision Trees.pdf
/16 - More Decision Trees, Ensemble Learning, an.pdf
/17 - Neural Networks.pdf
/18 - Neurons_ Variations on Neural Networks.pdf
/19 - Better Neural Network Training_ Convolutio.pdf
/2 - Linear Classfiers and Perceptrons.pdf
/21 - The Singular Value Decomposition_ Clusteri.pdf
/22 - Spectral Graph Clustering.pdf
/23 - Learning Theory.pdf
/24 - Multiple Eigenvectors_ Latent Factor Analy.pdf
/25 - Faster Nearest Neighbors - Voronoi Diagram.pdf
/26 - Deep Learning.pdf
/3 - Perceptron Learning & Maximum Margin Classi.pdf
/4 - Soft-Margin Support Vector Machines_ Featur.pdf
/5 - Machine Learning Abstractions and Numerical.pdf
/6 - 6 Decision Theory_ Generative and Discrimin.pdf
/7 -  Gaussian Discriminant Analysis (including .pdf
/8 -  Eigenvectors and the Anisotropic Multivari.pdf
/9 - The Anisotropic Multivariate Normal Distrib.pdf
