/1 - Intro.pdf
/11 - Review of SIMT Execution + Introduction to.pdf
/12 - Shading Languages.pdf
/13 - CUDA & OpenCL Programming Model.pdf
/14 - Heterogeneous Client Programming - Graphic.pdf
/15 - Deferred Shading.pdf
/16 - Reyes Architecture and Implementation.pdf
/17 - Real-Time Ray Tracing.pdf
/18 - The Light Field and Image-Based Rendering.pdf
/2 - The Real-Time Graphics Pipeline.pdf
/20 - Digital Camera Image Processing Pipeline 2.pdf
/21 - Beyond RGB Pixels 1 - Light-Field Camera.pdf
/22 - Beyond RGB Pixels 2 - Depth Cameras.pdf
/23 - Smarter Cameras - Emerging Efforts to Make.pdf
/24 - Course Review + Tips for Giving a Good Pre.pdf
/3 - Parallelizing Pipeline Execution.pdf
/4 - Geometry Processing.pdf
/5 - Rasterization and Occlusion.pdf
/6 - Texturing.pdf
/7 - The Programmable GPU Core.pdf
/8 - The GPU Memory Hierarchy.pdf
/9 - The Life of an Architect at AMD During Grap.pdf
