/1 - Intro.pdf
/10 - Approximate Dynamic Programming.pdf
/11 - Off-policy and multi-step learning.pdf
/12 - Deep RL.pdf
/13 - Deep RL 2.pdf
/2 -  Exploration and Exploitation.pdf
/3 - Markov Decision Processes and Dynamic Progr.pdf
/4 - Theoretical Fundamentals of Dynamic Program.pdf
/6 - Model-Free Control.pdf
/8 - Planning and models.pdf
/9 - Policy Gradients and Actor Critics.pdf
