/11 - The Design & Analysis of Geometric Algorit.pdf
/14 - Introduction to Alpha Shapes.pdf
/22 - Geometric range searching.pdf
/23 - Numerical Issues in Computational Geometry.pdf
/5 - Data Structures for Mobile Data.pdf
