/1 - Introduction to statistics_ maximum likelih.pdf
/2 - Bayesian updating with known discrete prior.pdf
/3 - Bayesian updating -  Probabilistic predicti.pdf
/4 - Bayesian updating - Continuous prior, discr.pdf
/5 - Conjugate Priors - Beta & Normal.pdf
/6 - Choosing Priors & Probability Intervals.pdf
/7 - Probability intervals.pdf
