/01.black-box-ML.pdf
/01a.course-logistics.pdf
/01b.intro-stat-learning-theory.pdf
/01c.gradient-descent.pdf
/02a.SGD.pdf
/02c.L1L2-regularization.pdf
/03a.elastic-net.pdf
/03b.loss-functions.pdf
/03c.subgradient-descent.pdf
/04a.lagrangian-duality-in-ten-minutes.pdf
/04b.SVM-summary.pdf
/05a.representer-theorem.pdf
/05b.kernel-methods.pdf
/06a.citysense.pdf
/06b.MLE.pdf
/06c.conditional-probability-models.pdf
/08a.bayesian-methods.pdf
/08b.bayesian-regression.pdf
/09.multiclass.pdf
/11b.bagging-random-forests.pdf
/11c.gradient-boosting.pdf
/12a.neural-networks.pdf
/12b.backpropagation.pdf
/13a.k-means.pdf
/13b.mixture-models.pdf
/13c.EM-algorithm.pdf
/14c.next-steps.pdf
/adaboost.pdf
/bayesian-networks.pdf
/classifier-performance.pdf
/constrained-vs-penalized.pdf
/convex-optimization.pdf
/directional-derivatives.pdf
/features.pdf
/information-theory.pdf
/lasso-ridge-elastic-net.pdf
/midterm-review.pdf
/ML1.black-box-ML.pdf
/sgd-gd-revisited.pdf
/SVM.pdf
/test2-review.pdf
