/1 - Statistical Learning Theory.pdf
/10 - Dimensionality Reduction.pdf
/11 - Variables Selection.pdf
/12 - A Glimpse Beyond the Fence.pdf
/2 - Local Methods.pdf
/3 - Bias Variance Trade-Of.pdf
/4 - Regularized Least Squares.pdf
/5 - Regularized Least Squares Classification.pdf
/6 - Feature Maps, Representer Theorem and Kerne.pdf
/7 - Regularization Networks.pdf
/8 - Logistic Regression.pdf
/9 -  From the Perceptron to SVM.pdf
