/1 - Intro.pdf
/10 - Cluster Analysis.pdf
/11 - PCA.pdf
/13 - Procrustes Distance & MDS.pdf
/14 - Association Rule Mining.pdf
/19 - NNs.pdf
/2 - Linear Regressio.pdf
/3 - Bayes.pdf
/4 - The Newton-Raphson Method & Online Learning.pdf
/5 - Multivariate Gaussian.pdf
/6 - Singular Value Decomposition (SVD).pdf
/7 - Computing Eigenvectors of Large Matrice.pdf
/8 - Kernel Density Estimation.pdf
/9 - Naive Bayes Review, Pairwise Similarity.pdf
