/1 - Supervised Learning Setup.pdf
/10 - Empirical Risk Minimization.pdf
/11 - Model Selection.pdf
/12 - Bias-Variance Tradeoff.pdf
/13 - Kernels 1.pdf
/14 - Kernels 2.pdf
/15 - Gaussian Processes.pdf
/16 - k-Dimensional Trees.pdf
/17 - Decision Trees.pdf
/18 - Bagging.pdf
/19 - Boosting.pdf
/2 - KNN & Curse of Dimensionality.pdf
/20 - NNs.pdf
/21 - DL.pdf
/3 - Perceptron.pdf
/4 - Estimating Probabilities from data.pdf
/5 - Bayes Classifier and Naive Bayes.pdf
/6 - Logistic Regression, MLE, MAP.pdf
/7 - Gradient Descent.pdf
/8 - Linear Regression.pdf
/9 - SVM.pdf
