/1 - Intro.pdf
/10 - Kernels.pdf
/11 - Multiclass prediction.pdf
/12 - Structured output prediction.pdf
/13 - Discrete classification, Computational com.pdf
/14 - Learning Theory - Uniform Convergence.pdf
/15 - Learning Theory - VC DImension.pdf
/16 - Probability models.pdf
/17 - Bayesian networks.pdf
/18 - MLE.pdf
/19 - EM Algorithm.pdf
/2 - Linear prediction.pdf
/20 - Bayesian learning.pdf
/21 - Ensembles.pdf
/3 - Generalized linear prediction.pdf
/4 - NNs.pdf
/5 - Regularization.pdf
/6 - Bias-variance Tradeoff.pdf
/7 - Automated complexity control.pdf
/8 - Linear classification, SVMs.pdf
/9 - Duality.pdf
