/1 - Learning Generative Models of 3D Structures.pdf
/2 - An Autoregressive Generative Model of 3D Me.pdf
/3 - Learning to Generate Programs for 3D Shape .pdf
/4 - A Papier-Mâché Approach to Learning 3D Surf.pdf
