/1-TinyML aplicado ao reconhecimento de teclas a.pdf
/2-Sobriety Test.pdf
/3-Sistema de identificação de falhas em rolam.pdf
/4-Reconhecimento de Sinais Mioelétricos Indivi.pdf
/6-Emoções através de musicas.pdf
/7-Identificação de cargas elétricas pelos si.pdf
