/10 - Problems with Solutions.pdf
/11 - Vector Semantics & Embeddings.pdf
/2 - Regular Expressions.pdf
/3 - Minimum Edit Distance.pdf
/4 - Introduction to N-grams.pdf
/5 - The Task of Text Classification.pdf
/6 - Logistic Regression.pdf
/7 - Information Retrieval Handout.pdf
/8 - Intro 2 Information Retrieval.pdf
/9 - Intro 2 Information Retrieval 2.pdf
