/002-Evolucao.pdf
/003-Discussao.pdf
/004-Industria4.0.pdf
/005-Industria4.0 (1).pdf
/006-Cloud (1).pdf
/007-FabricaDigital-ProjetoProdutoComoFoco (1).pdf
/008-DigitalTwin.pdf
/009-FabricaDigital-GestaoComoFoco.pdf
/010-CPS.pdf
/012-SOA.pdf
/013-BigData.pdf
/014-EmpresasVirtuais.pdf
