/10.Lab.test-review.pdf
/10a.citysense.pdf
/10b.conditional-probability-models.pdf
/12a.bayesian-networks.pdf
/12b.bayesian-methods.pdf
/13.Lab.EM-algorithm.pdf
/13a.bayesian-regression.pdf
/13b.mixture-models.pdf
/14a.EM-algorithm.pdf
/14b.neural-networks.pdf
/14c-what-next.pdf
/1a.course-logistics.pdf
/1b.intro-slt-riskdecomp.pdf
/1c.stoch-grad-descent.pdf
/2.Lab.directional-derivatives.pdf
/2.Lab.elastic-net.pdf
/2b.L1L2-regularization.pdf
/3a.loss-functions.pdf
/3b.convex-optimization.pdf
/3c.SVM.pdf
/4a.sgd-gd-revisited.pdf
/4b.subgradient-descent.pdf
/4c.features.pdf
/4d.kernels.pdf
/5a.hilbert-space.pdf
/5b.kernel-methods.pdf
/7b.boosting.pdf
/8.Lab.more-boosting.pdf
/8a.adaboost.pdf
/8b.gradient-boosting.pdf
/9a.multiclass.pdf
