/1 - Course Overview.pdf
/10 - Intro to Python.pdf
/11 - Python Data Types.pdf
/12 - Math in Python.pdf
/13 - Python Scripts.pdf
/14 - Loops in Python.pdf
/15 - Energy and Power.pdf
/16 - Introduction to PV Panels.pdf
/17 - Analog vs. Digital.pdf
/18 - Batteries.pdf
/19 - Electrical Machines.pdf
/2 - Overview of Electrical Engineering.pdf
/3 - Electrical Fundamentals.pdf
/4 - Electrical Resistance.pdf
/5 - Voltage and Current Dividers.pdf
/6 - Kirchhoff’s Laws.pdf
/7 - Intro 2 Flowcharts.pdf
/8 - Flowcharts - While Loops.pdf
/9 - Flowcharts - For Loops.pdf
