/1 - Intro.pdf
/10 - Max-margin learning & siamese networks.pdf
/11 - RNNs & LSTMs.pdf
/12 - RL - Direct policy search.pdf
/13 - RL - Action-value functions.pdf
/2 - Linear regression.pdf
/3 - MLE.pdf
/4 - Regularizers, basis functions and cross-val.pdf
/5 - Optimization.pdf
/6 - Logistic regression.pdf
/7 - Back-propagation and layer-wise design of n.pdf
/8 - NNs with Torch.pdf
/9 - CNNs.pdf
