/1 - Intro.pdf
/10 - Linear Regression.pdf
/11 - Regularization.pdf
/12 - NNs.pdf
/13 - NNs 2.pdf
/14 - CNNs.pdf
/15 - Non-parametric methods.pdf
/16 - Decision Trees.pdf
/17 - Boosting.pdf
/18 - Mid-term review.pdf
/19 - SVMs.pdf
/2 - Bayes classifier, Decision boundary.pdf
/20 - SVMs 2.pdf
/21 - SVMs 3.pdf
/22 - Model selection.pdf
/23 - Dimensionality Reduction.pdf
/24 - Unsupervised Dimensionality Reduction.pdf
/26 - Mixture models & EM.pdf
/27 - ML Pipelines.pdf
/28 - Gaussian Processes.pdf
/29 - Learning Theory.pdf
/3 - MLE.pdf
/30 - Algorithmic Fairness through the Lens of E.pdf
/4 - MAP, Naive Bayes.pdf
/5 - Naïve Bayes.pdf
/6 - Bernoulli MLE Derivation.pdf
/7 - Naïve Bayes 2.pdf
/8 - Logistic Regression.pdf
/9 - Logistic Regression 2.pdf
