/2 - Linear Models with Normal Noise.pdf
/3 - Least Mean Squares (LMS) Estimation.pdf
/4 - Linear Least Mean Squares (LLMS) Estimation.pdf
/5 - Inequalities, convergence, and and the Weak.pdf
/6 - The Central Limit Theorem (CLT).pdf
/7 - Intro 2 Classical Statistics.pdf
