/10 - Switching-mode rectifiers.pdf
/11 - Switching losses and snubbers.pdf
/12 - Soft-switching techniques.pdf
/13 - Thermal modeling and heat sinking.pdf
/14 - EMI (electromagnetic interference) filteri.pdf
/15 - Three-phase systems.pdf
/16 - Resonant converters and RF (radio frequenc.pdf
/6 - Introduction to magnetics.pdf
/7 - Isolated DC-DC converters.pdf
/8 - Modeling and control.pdf
/9 - Inverters (DC-AC converters).pdf
