/14 - Algeibric Geometry.pdf
/15 - Algeibric Geometry 2.pdf
/16 - Geometry.pdf
/17 - Cutting Plane Methods 1.pdf
/18 - Cutting Plane Methods II.pdf
/19 - Enumerative Methods.pdf
/2 - Efficient Algorithms & Comp Complexity.pdf
/20 - Enumeration and Heuristics.pdf
/21 - Approximation Algorithms I.pdf
/22 - Approximation Algorithms II.pdf
/23 - Approximation Algorithms III.pdf
/24- Mixed-Integer Programming I.pdf
/25 - Mixed-Integer Programming II.pdf
