/11 - MEF 1.pdf
/16 - MEF 2.pdf
/17 - MEF Aplicado a analise estrutural mecanica.pdf
/18 - MEF Aplicado a vigas.pdf
/19 - MEF Aplicado a Dinamica 1.pdf
/20 - MEF Aplicado a Dinamica 2.pdf
/21 - MEF Aplicado a transferência de calor em p.pdf
/22 - MEF Aplicado a problemas 2D.pdf
/23 - MEF Aplicado a problemas 2D 2.pdf
/24 - MEF Aplicado a problemas 2D 3.pdf
/25 - Método de Integração de Gauss-Legendre.pdf
/26 - MEF Aplicado à Problemas de Mecânica dos S.pdf
/27 - Exercicio - Elemento isoparamétrico de 4 n.pdf
