/1 - Intro.pdf
/10 - RL.pdf
/11 - Explanation-Based Learning (EBL).pdf
/12 - Combining Inductive and Analytical Learnin.pdf
/13 - Ensemble Learning.pdf
/14 - Bayesian Learning.pdf
/2 - Concept Learning.pdf
/3 - Decision Trees.pdf
/4 - NNs.pdf
/5 - Evaluating Hypotheses.pdf
/6 - Instance Based Learning.pdf
/7 - Genetic Algorithms.pdf
/8 - Learning Sets of Rules.pdf
/9 - Clustering.pdf
