/1 - Intro.pdf
/2 - In A Linear World.pdf
/3 - Ensemble Filter Smoother.pdf
/4 - Exponential Family.pdf
/5 - Expectation Maximization and Model Selectio.pdf
/7 - Hierarchical Bayesian Models.pdf
/8 - Particle Filter.pdf
/9 - Graphical Models.pdf
