/14 - Case Study - Java Collections.pdf
/17 - Frameworks.pdf
/25 - Analysis for Safe Concurrency.pdf
/29 - Programming with Typestates and Permisssio.pdf
/30 - Safely-Composable Type Specific Languages.pdf
/9 - Testing.pdf
