/1 - Intro.pdf
/10 - Community detection.pdf
/11 - Covariance matrix estimation. PCA.pdf
/12 - Uniform Laws of Large Numbers.pdf
/13 - Suprema of subGaussian Processes_ Chaining.pdf
/14 - Covering, packing_ Combinatorial dimension.pdf
/15 - Nonparametric Least Squares.pdf
/16 - Oracle Inequalities_ Regularization.pdf
/2 - Sub-Gaussian random variables_ Chernoff bou.pdf
/3 - Sub-Exponential random variables_ Bernstein.pdf
/4 - Bernstein’s inequality and applications.pdf
/6 - Linear regression_ Least Squares.pdf
/7 - Sparsity_ Thresholing.pdf
/8 - Misspecified linear models_ Matrix Estimati.pdf
/9 - Singular value thresholding_ Perturbation A.pdf
