/1 - Introduction.pdf
/10 - Surface Reconstruction.pdf
/11 - Surface Smoothing.pdf
/12 - Parameterization.pdf
/13 - Decimation.pdf
/14 - Remeshing.pdf
/15 - Surface Deformation I.pdf
/16 - Surface Deformation II.pdf
/17 - Space Deformation.pdf
/18 - Data-Driven Shape Analysis & Synthesis.pdf
/18 - Dynamic Geometry Processing I.pdf
/19 - Dynamic Geometry Processing II.pdf
/2 - Surface Representation & Data-Structures.pdf
/3 - Explicit & Implicit Surfaces.pdf
/4 - Classic Differential Geometry 1.pdf
/5 - Classic Differential Geometry 2.pdf
/6 - Discrete Differential Geometry.pdf
/7 - 3D Scanning.pdf
/8 - Surface Registration.pdf
/9 - Shape Matching.pdf
