/1 - A simple machine.pdf
/10 - Creating Data Types.pdf
/11 - Programming Languages.pdf
/2 - Basic Programming.pdf
/3 - Conditionals & Loops.pdf
/4 - Arrays.pdf
/5 - IO.pdf
/6 - Functions and Libraries.pdf
/7 - Recursion.pdf
/8 - Performance.pdf
/9 - Abstract Data Types.pdf
