/10 - Adaptive Mirror Descent and Bundle Method.pdf
/11 -  Level Method.pdf
/12 - Acceleration of Gradient Methods.pdf
/15 - Newton’s Method and Self-Concordance.pdf
/19 - Potential Reduction Interior Point Method.pdf
/20 - Primal-Dual Interior Point Methods.pdf
/24 - Stochastic Gradient Method.pdf
/26 -  Geometrization and Randomized Coordinate .pdf
/3 - Gradient Descent.pdf
/4 - Subgradient Descent Method.pdf
/7 - Mirror Descent 2.pdf
/9 - Lazy Mirror Descent.pdf
