/1 - MLPR welcome and advice.pdf
/2 - Course administration and assessment.pdf
/3 - Books useful for MLPR.pdf
/4 - MLPR background self-test.pdf
/5 - Maths background for MLPR.pdf
/6 - Programming in Python.pdf
/7 - Expectations and sums of variables.pdf
/8 - Notation.pdf
