/01-inmemory.pdf
/02-transactions.pdf
/03-mvcc1.pdf
/04-mvcc2.pdf
/05-mvcc3.pdf
/06-indexes.pdf
/07-oltpindexes1.pdf
/08-oltpindexes2.pdf
/09-storage.pdf
/10-compression.pdf
/11-largerthanmemory.pdf
/12-recovery.pdf
/14-scheduling.pdf
/15-execution.pdf
/16-udfs.pdf
/17-hashjoins.pdf
/18-sortmergejoins.pdf
/19-compilation.pdf
/20-vectorization1.pdf
/21-vectorization2.pdf
/22-optimizer1.pdf
/23-optimizer2.pdf
/24-costmodels.pdf
/25-selfdriving.pdf
