/1 - Intro.pdf
/10 - Optimizing for Parallelism and Locality - .pdf
/2 - Redundancy Removal - IRs and DAG-based Meth.pdf
/3 - Redundancy Removal - SVN & DVN.pdf
/4 - GCSE & Data Flow Analysis.pdf
/5 - Data Flow Analysis.pdf
/6 - SSA.pdf
/7 - SSA & Dead Code Elimination.pdf
/8 - Lazy Code Motion.pdf
/9 - Parallelism and Dependence Theory.pdf
