/1 - Intro 2 ML.pdf
/10 - Gradient Descent & Newtons Method.pdf
/11 - Logistic Regression & Neural Models.pdf
/12 - NNs.pdf
/13 - DL.pdf
/14 - Importance sampling & MCMC.pdf
/15 - Constrained Optimization.pdf
/2 - Linear prediction.pdf
/3 - Probabilistic linear prediction & MLE.pdf
/4 - Regularization, Nonlinear prediction & gene.pdf
/5 - Bayesian learning.pdf
/6 - Gaussian Processes.pdf
/7 - Bayesian optimization, Bandits & Thompson S.pdf
/8 - Decision trees.pdf
/9 - Random Forests.pdf
