/1 - Biological Motivation.pdf
/10 - Bayesian Neural Networks.pdf
/11 - DL Overview.pdf
/2 - Feed-forward NNs.pdf
/3 - Training.pdf
/4 - Backpropagation.pdf
/5 - Hessian Matrix.pdf
/6 - Regularization.pdf
/7 - CNNs Overview.pdf
/8 - Soft-weight sharing.pdf
/9 - Mixture Density Networks.pdf
