/10 - Probabilistic Models.pdf
/11 - Language Models.pdf
/12 -  PyTerrier Tutorial.pdf
/13 -  Query Expansion.pdf
/14 - Ranking.pdf
/15 -  Ranking and Ranx.pdf
/16 - Classification and Clustering.pdf
/17 - Query Log Analysis.pdf
/18 - Neural Information Retrieval.pdf
/19 - Neural Information Retrieval 2.pdf
/20 -  Hugging Face.pdf
/21 - Math Information Retrieval.pdf
/22 - A Few Remaining Topics.pdf
/3 - Boolean Retrieval.pdf
/4 - Tokenization and Stemming.pdf
/5 -  Indexing and Ranking.pdf
/6 - Evaluation Measures.pdf
/7 - Project Part 1.pdf
/8 - Term Weighting and Vector Space.pdf
