/1 - Introduction to AI.pdf
/11 - Preprocessing.pdf
/14 - Short Review.pdf
/15 - Classification - NNs.pdf
/16 - Classification Review.pdf
/18 - Association Analysis.pdf
/2 - Knowledge Representation.pdf
/20 - Intro 2 Genetic Algorithms.pdf
/22 - Clustering.pdf
/3 - Predicate Logic Part 1.pdf
/5 - Rule Based Systems.pdf
/6 - Short Review.pdf
/8 - Introduction to Learning.pdf
/9 - Classification - Intro.pdf
