/10 - Recap of Reference Priors.pdf
/13 - g-priors for linear regression.pdf
/14 - g Priors and Hierachical Models.pdf
/15 - Hierachical Models, Computational Aspects .pdf
/16 - Multivariate laplace Aproximation, Bayesia.pdf
/17 - Monte Carlo Sampling.pdf
/18 - Sampling Methods.pdf
/2 - Justification for Bayes.pdf
/21 -Importance sampling and Sequential Importan.pdf
/22 - Sequential Importance Sampling Resampling.pdf
/24 - Dirichilet Distribution and Dirichilet Pro.pdf
/3 - Decision Theory, Priors and Common Integral.pdf
/4 - Conjugate Priors.pdf
/5 - The conjugate prior for the Normal Distribu.pdf
/6 - Jeffreys Priors.pdf
/7 - Jefreys Priors and Reference Priors.pdf
/8 - Reference Priors.pdf
/9 - Reference Priors and Maximum Entropy.pdf
