/1 - Intro, Bayes optimality.pdf
/10 - Clustering_ k-means, EM.pdf
/11 - Latent space models_ SVD.pdf
/2 - Bayes classifiers_ Naive Bayes.pdf
/3 - KNN.pdf
/4 - Linear regression.pdf
/5 - Generalized Linear Models.pdf
/6 - SVMs.pdf
/8 - Decision Trees.pdf
/9 - Ensembles.pdf
