/1 - CNN Architectures.pdf
/10 - Visualization & Adversarial Examples.pdf
/11 - GANs.pdf
/12 - VAEs.pdf
/13 - Advanced Generation Methods.pdf
/14 - 3D + Graphics.pdf
/15 - Self-Supervised Learning.pdf
/16 - Intro 2 RL.pdf
/17 - Deep RL - Q-Learning.pdf
/18 - Policy Gradients + Planning.pdf
/19 - DL 4 Manipulation and Navigation.pdf
/2 - Intro 2 RNNs.pdf
/20 - RNN Architectures.pdf
/21 - Image Captioning.pdf
/22 - Image-Text Representation and Image-Text A.pdf
/23 - Visual Question Aswering (QA).pdf
/25 - DL 4 Audio.pdf
/26 - Memory-augmented DL.pdf
/27 - Bidirectional Attention 4 Machine Translat.pdf
/27 - Meta-Algorithms.pdf
/3 - RNN Variants.pdf
/4 - Advanced CNN Architectures.pdf
/5 - Advanced Training Techniques.pdf
/6 - Network Compression & Speedup.pdf
/7 - Object Detection.pdf
/8 - Semantic Segmentation, Dense Labeling.pdf
/9 - Similarity Learning.pdf
