/1 - Deep Graphical Models Summary and Review.pdf
/2 - Pseudo-Likelihood and Contrastive Divergenc.pdf
/3 - Loopy Belief Propagation (Loopy BP).pdf
/4 - Connectionist Temporal Classification (CTC).pdf
