/1 - Intro.pdf
/10 - Transactions and Failure Recovery.pdf
/11 - Failure Recovery 2.pdf
/12 - Concurrency.pdf
/13 - Concurrency 2.pdf
/14 - Concurrency 3 & Distributed Databases.pdf
/15 - Distributed Databases 2.pdf
/16 - Cloud Database Systems.pdf
/17 - Streaming Systems.pdf
/19 - Lakehouse Technology as the Future of Data.pdf
/2 - Database System Architecture.pdf
/3 - Database Architecture 2 & Storage.pdf
/4 - Storage Formats and Indexing.pdf
/5 - Storage Formats and Indexing 2.pdf
/6 - Query Execution.pdf
/7 - Query Optimization.pdf
/8 - Query Optimization 2.pdf
/9 - Automatically Discovering Systems Optimizat.pdf
