/10 - Direct kinematics.pdf
/11 - Inverse kinematics.pdf
/12 - Differential kinematics.pdf
/14 - Trajectory planning.pdf
/17 - Dynamic control of a single axis.pdf
/2 - Industrial Robotics.pdf
/3 - Service robotics.pdf
/9 - Homogeneous transformations.pdf
