/1 - Causality diagram, hydraulic system, simula.pdf
/10 - Chemical Systems.pdf
/11 - Parameter Identification.pdf
/12 -  Linear System Analysis.pdf
/13 - Zero Dynamics.pdf
/2 - Mechanical Systems.pdf
/3 - Advanced Dynamics - Constraints.pdf
/4 - Advanced Dynamics - Lagrange Equations.pdf
/5 - Hydraulic Systems.pdf
/6 - Hydraulic Turbines and Eletromagnetic Syste.pdf
/7 - Thermodynamic Systems.pdf
/8 - Fluiddynamic Systems.pdf
/9 - Turbocompressors.pdf
