/1 - Pruning and Sparsity 1.pdf
/2 - Pruning and Sparsity 2.pdf
/3 - Quantization 1.pdf
/4 - Quantization 2.pdf
/5 - NAS 1.pdf
/6 - NAS 2.pdf
/7 - NAS 3.pdf
/8 - Knowledge Distillation.pdf
/9 - MCUNet - Tiny Neural Network Design for Mic.pdf
