/1 - How to Acquire visual information .pdf
/2 - Frame- vs Event-based cameras - the curious.pdf
/3 - Bio-inspired motivation - the visual pathwa.pdf
/4 - Sampling in time vs in range  .pdf
/5 - High Dynamic Range (HDR) .pdf
/7 - Event-based cameras - Advantages, Disadvant.pdf
