/1 - Intro.pdf
/10 - Theory 5 - Knowledge Distillation.pdf
/11 - Implementation 5 - CUDA.pdf
/13 - Implementation 6 - TVM.pdf
/2 - Implementation 1 - GEMM.pdf
/3 - Theory 1 - Pruning.pdf
/4 - Theory 2 - Low Rank Decomposition.pdf
/5 - Implementation 2 - Direct Conv.pdf
/6 - Theory 3 - Quantization.pdf
/7 - Implementation 3 - Winograd.pdf
/8 - Theory 4 - Binary&Ternary Network.pdf
/9 - Implementation 4 - Sparse Conv.pdf
