/(Stochastic) Optimal Control.pdf
/3D geometry basics (for robotics).pdf
/Bandits, Global Optimization, Active Learning, .pdf
/Bayesian Logistic Regression.pdf
/Bias & Variance Tradeoff.pdf
/Computational models of goal-directed behavior.pdf
/Decision Theory.pdf
/Dual Learning.pdf
/Efficient Learning.pdf
/Ensembling - Bayesian avaraging vs model combin.pdf
/Factor graphs and belief propagation.pdf
/Gaussian identities.pdf
/Generative Classification.pdf
/Gradient Descent.pdf
/Graphical Models.pdf
/Inference & Planning 1.pdf
/Manifold Learning.pdf
/MDPs.pdf
/ML & Robotics.pdf
/Monte Carlo Methods.pdf
/Probabilistic ML.pdf
/Risk Minimization.pdf
/Structured Prediction.pdf
/Variational Methods.pdf
/VC Dimension.pdf
