/1 - Modelagem Geométrica.pdf
/10 - Analise Estatica 1.pdf
/11 - Analise Estatica 2.pdf
/12 - Exercício de Analise Estatica.pdf
/2 - Cossenos diretores e angulos de euler.pdf
/3 - Quartenions.pdf
/4 - Rotacoes em tornos de eixos fixos.pdf
/5 - Cinematica direta de robos manipuladores.pdf
/6 - Cinematica da velocidade.pdf
/7 - Singularidades cinematicas.pdf
/8 - Cinematica Inversa 1.pdf
/9 - Cinematica Inversa 2.pdf
