/10 - CNNs.pdf
/19 - Practical WFSTs.pdf
/20 - RNNs.pdf
/21 - LSTM.pdf
/22 - Moving Pixels Around.pdf
/23 - Moving Pixels Around.pdf
/25 - GANs.pdf
/25 - VAEs.pdf
/3 - Noise.pdf
/4 - Filtered Noise.pdf
/8 - Neural Nets.pdf
/9 - Nonlinearities.pdf
