/1 - KNN, key concepts in ML.pdf
/10 - Consolidation and Review.pdf
/2 - Probability and Naïve Bayes.pdf
/4 - Decision Trees.pdf
/5 - Consolidation and Review.pdf
/6 - Ensembles and Random Forests.pdf
/7 - SVMs and SGD.pdf
/8 - MLPs and Backprop.pdf
/9 - DL.pdf
