/12 - Systems analysis methodologies.pdf
/13 - Energy supply, demand, and storage plannin.pdf
/17 - Economic Feasibility Assessment Methods.pdf
/2 - Energy uses in different countries 1.pdf
/3 - Energy uses in different countries 2.pdf
/4 - Overview of energy use and related issues.pdf
/6 - Energy transfer and conversion methods.pdf
/8 - Sustainability issues.pdf
/9 - Resource evaluation and depletion analyses.pdf
