/1 - Fundamentals of Learning.pdf
/10 - EM Algorithm.pdf
/11 - Non-Parametric Bayes.pdf
/12 - Infinite Mixture Models.pdf
/2 - More Fundamentals of Learning.pdf
/3 - Convex Optimization.pdf
/4 - More Convex Optimization.pdf
/5 - How Much Data.pdf
/6 - Faster Algorithms 4 DL.pdf
/7 - Probabilistic PCA, Factor Analysis & ICA.pdf
/8 - Inference in Graphical Models.pdf
/9 - Structured SVMs.pdf
