/1 - ML crash course.pdf
/10 - Semantic Segmentation.pdf
/11 - Structured Predictions with DL.pdf
/12 - 3D Point Processing and Lidar.pdf
/13 - Attention & Transformers.pdf
/2 - ML crash course 2.pdf
/3 - NNs.pdf
/4 - CNNs.pdf
/5 - Classical recognition techniques and Deeper.pdf
/6 - ResNet, Big Data.pdf
/7 - Volumetric Segmentation of Clouds.pdf
/8 - Big Data, Crowdsourcing.pdf
/9 - Self-Supervised DL.pdf
