/A Student’s Guide to Bayesian Statistics - prob.pdf
/Bayesian ML RoadMap.pdf
/Bayesian Models for Machine Learning.pdf
/frequentist vs bayesian inference.pdf
/gaussian mle review.pdf
/Gaussian Processes.pdf
/preliminary_materials.pdf
/Variational Methods.pdf
