/1 - Basic terminology, examples - linear regres.pdf
/10 - Extreme points, basic feasible solutions, .pdf
/11 - Sensitivity Analysis.pdf
/12 - Taylor expansions, properties of convex fu.pdf
/13 - Strong convexity, analysis of convergence.pdf
/14 - Convex Functions & Spectral Theory.pdf
/15 - steepest descent, coordinate descent, Newt.pdf
/16 - prediction from experts, weighted majority.pdf
/17 - Subdifferential calculus.pdf
/19 - SVMs.pdf
/2 - Convex sets, convex functions, separating h.pdf
/20 - Duality revisited.pdf
/22 - Absolute and relative erroneous oracles, a.pdf
/23 - Equality-constrained problems.pdf
/24 - Maximum-cover, the greedy algorithm, prope.pdf
/25 - Matroids, the greedy algorithm, combinator.pdf
/26 - Submodular Optimization.pdf
/27 - Examples of submodular maximization, Max-C.pdf
/28 - Minimum-Set Cover, greedy algorithm, rando.pdf
/3 - Exercises.pdf
/30 - randomized and concave relaxations of Max-.pdf
/31 - The continuos greedy algorithm.pdf
/4 - Definition, canonical and standard form, mo.pdf
/5 - Farkas lemma, weak duality, strong duality.pdf
/6 - Exercices.pdf
/7 - Game theory, Nash equilibrium, minimax theo.pdf
/8 - Learning theory, boosting.pdf
/9 - Exercices.pdf
