/11 - K-Means, Dimensionality Reduction.pdf
/12 - PCA 2, Bayesian Methods.pdf
/13 - Mixture models & EM.pdf
/16 - Bayesian Networks 2, Conditional Independe.pdf
/17 - Markov Random Fields, Factor Graphs.pdf
/20 - HMMs.pdf
/22 - The max-sum algorithm.pdf
/23 - Belief propagation in cyclic graphs.pdf
/24 - Practice Exam.pdf
/4 - Optimization, MLE, Regularization.pdf
/7 - Logistic Regression.pdf
/8 - Logistic Regression 2.pdf
