/1 - Intro.pdf
/10 -  Physics.pdf
/11 - Discriminative Prediction.pdf
/12 -  Discriminative Prediction 2.pdf
/2 - Human Body Representations.pdf
/3 - Dimensionality reduction.pdf
/4 - Dimensionality reduction 2.pdf
/6 - Bayesian Filtering.pdf
/7 - Human pose estimation.pdf
/8 - Shape and pose.pdf
/9 - Image likelihood.pdf
