/1 - Intro.pdf
/2 - Mathematical Preliminaries.pdf
/3 - Regular Languages.pdf
/4 - Context Free Languages.pdf
/5 - Turing Machines.pdf
/6 - Decidability.pdf
/7 - Complexity.pdf
/8 - Propositional Logic.pdf
/9 - First Order Logic.pdf
