/1 - Intro.pdf
/10 - Conditional Generation - 3D Shape Completi.pdf
/11 - Conditional Generation - From Image to Sha.pdf
/12 - Learning Discrete and Continuous Shape Edi.pdf
/12 - Neural Functions - 3D from 2D Supervision.pdf
/13 - Neural Fields and Surfaces.pdf
/13 - Scene Generation and Object Placement.pdf
/2 - Classical 3D Geometry Representations.pdf
/3 - Neural Architectures for Regular Data.pdf
/4 - Irregular Geometries - Point Clouds.pdf
/5 - Intro 2 Generative Models.pdf
/6 - Parametric Models. Generative Adversarial N.pdf
/7 - 3D Shape Public Data Sets. Flow and Auto-Re.pdf
/8 - Hierarchical Generation of Structure and Ge.pdf
/8 - Vector Graphics, Deep Architectures for Mes.pdf
/9 - Pose Equivariance and Invariance in 3D Data.pdf
