/1 - Logistics and Intro to C++.pdf
/10 - Inheritance.pdf
/11 - Polymorphism.pdf
/12 - Transforms and Eigen.pdf
/13 - Least-squares (in Eigen), RANSAC.pdf
/14 - Computational Complexity - Big O.pdf
/15 - Recursion.pdf
/16 - Convex Optimization 1.pdf
/17 - Convex Optimization 2.pdf
/17 - Multiple files, intro cmake.pdf
/18 - Auto, range-based for loops, shared pointe.pdf
/19 - Search for Optimization.pdf
/2 - Types and Structs.pdf
/20 - Tree Search.pdf
/21 - Multithreading.pdf
/22 - Message Passing.pdf
/23 - Python for C++ Programmers.pdf
/24 - Numpy.pdf
/3 - Streams and Vectors, References, Const.pdf
/4 - Memory, Arrays, and Pointers.pdf
/5 - Errors and Debugging.pdf
/6 - Classes and Operators.pdf
/7 - Templates.pdf
/8 - Standard Template Library 1.pdf
/9 - Standard Template Library 2.pdf
