/1 - Intro.pdf
/2 - FInite Differece Methods 1.pdf
/3 - FInite Differece Methods 2.pdf
/4 - Finite Volume Methods 1.pdf
/6 - Finite Volume in 2D and Midterm Review.pdf
/7 - Fourier Stablity Analysis.pdf
/8 - Collocation and Weighted Residuals.pdf
/9 - Finite element method.pdf
