/1 - Cone programming.pdf
/10 - Dual proximal gradient methods.pdf
/11 - Augmented Lagrangian methods.pdf
/12 - Alternative direction method of multiplier.pdf
/13 - Consensus optimization.pdf
/14 - Gradient method with non-Euclidean distanc.pdf
/15 - Minimization of strongly convex functions.pdf
/2 - Conic duality.pdf
/3 - Interior point methods.pdf
/4 - Applications of semidefinite programming.pdf
/5 - Sums of squares.pdf
/6 - Proximal gradient methods.pdf
/8 - Smoothing - conjugate functions and the min.pdf
/9 - Moreau-Yosida regularization and proximal m.pdf
