/1 - Logistics.pdf
/10 - Hash Functions.pdf
/11 - Bloom Filter.pdf
/12 - Count-Min Sketch.pdf
/13 - KNN.pdf
/14 - Locality Sensitive Hashing.pdf
/15 - Locality Sensitive Hashing in Euclidean Sp.pdf
/16 - Review Exercices.pdf
/17 - Data Parallelism.pdf
/18 - Model Parallelism.pdf
/19 - Gradient Descent.pdf
/2 - Intro.pdf
/20 - Distributed Optimization.pdf
/21 - XGBoost.pdf
/22 - Manifold Learning.pdf
/23 - Johnson-Lindenstrauss Lemma.pdf
/24 - SVMs.pdf
/25 - Bochner’s Theorem.pdf
/26 - Random Fourier Features.pdf
/27 - ML on Sets and Distributions.pdf
/3 - AWS - EC2 & S3.pdf
/4 - AWS Setup.pdf
/5 - RabbitMQ & Pika.pdf
/6 - Distributed Naive Bayes.pdf
/7 - Distributed Clustering.pdf
/8 - Distributed Linear Regression.pdf
/9 - Python Tools.pdf
