/1 - Overview of DNNs.pdf
/10 - Sparse DNN Accelerators.pdf
/11 - Tutorial Summary.pdf
/2 - Popular DNNs and Datasets.pdf
/3 - Benchmarking Metrics.pdf
/4 - DNN Kernel Computation.pdf
/5 - DNN Accelerators 1.pdf
/6 - DNN Accelerators 2.pdf
/7 - DNN Model and Hardware Co-Design - Precisio.pdf
/8 - DNN Processing Near & In Memory.pdf
/9 - DNN Model and Hardware Co-Design - Sparsity.pdf
