/2019-07-18-Panel-at-ESSIR-final.pdf
/ESSIR 2019 - Recommender Systems (Cremonesi).pdf
/ESSIR presentation Croft.pdf
/ESSIR2019-Biases-in-Search-and-RS.pdf
/essir2019-maarten-de-rijke.pdf
/mining_social_media.pdf
/ML for IR 2018.pdf
/presentationESSIR2019_Henning_MedicalRetrieval.pdf
/tonellottoESSIR2019.pdf
