/1 - Basics 1.pdf
/10 - Concurrency in Scala.pdf
/11 - Java + Scala.pdf
/12 - Intro 2 Finagle.pdf
/13 - Searchbird.pdf
/2 - Basics 2.pdf
/3 - Collections.pdf
/4 - Pattern matching & functional composition.pdf
/5 - Type & polymorphism basics.pdf
/6 - Advanced types.pdf
/7 - Simple Build Tool.pdf
/8 - More collections.pdf
/9 - Testing with specs.pdf
