/10 - DNA sequence mapping and alignment.pdf
/11 - SAM format, samtools, and IGV.pdf
/12 - Poisson random variables in biology.pdf
/13 - Noise in RNA-seq analysis.pdf
/14 - Intro 2 awk & bioawk..pdf
/15 - Genetic Variation.pdf
/16 - SNP and INDEL Discovery (Part 1).pdf
/17 - VCF, HWE, and VCF toolkits.pdf
/18 - VCF annotation and interpretation.pdf
/19 - Genome Annotation and Resources.pdf
/2 - Introduction to UNIX (Part 2).pdf
/20 - Genome Annotation Formats. Awk too.pdf
/21 - Genome arithmetic with bedtools.pdf
/22 - Real world analyses with bedtools..pdf
/23 - Working with clusters, shell profiles, UNI.pdf
/24 - Gaussian Distributions and QQ Plots.pdf
/25 - Working with clusters, shell profiles, UNI.pdf
/26 - Central Limit Theorem and Error Bars.pdf
/3 - The Human Genome.pdf
/4 - Pattern searching in genomes.pdf
/5 - Intro to R and RStudio.pdf
/6 - R Data frames and Importing data.pdf
/7 - RMarkdown and Data Frames (cont.).pdf
/8 - Welcome to the Tidyverse.pdf
/9 - Modern DNA Sequencing _ FASTQ format.pdf
