/1 - Steerable kernels_basis functions.pdf
/2 - Revisiting regular G-convs with steerable k.pdf
/3 - Group Theory - Irreducible Representations .pdf
/4 - Group Theory - Induced representations & fe.pdf
/5 - - Steerable group convolutions.pdf
/6 - Activation functions for steerable G-CNNs.pdf
/7 - Derivation of Harmonic1 nets from regular g.pdf
