/1 - Intro.pdf
/10 - Intro to Mechanism Design.pdf
/11 - Intro to Mechanism Design 2.pdf
/12 - Intro to Mechanism Design 3.pdf
/13 - Intro to Mechanism Design 4.pdf
/14 - Security Games.pdf
/15 - Fair Allocations.pdf
/16 - Fair Allocation 2.pdf
/2 - Intro to Game Theory.pdf
/20 - Fairness in Machine Learning.pdf
/21 - Fair Clustering.pdf
/22 - Fair Clustering 2.pdf
/23 - Single-Agent Mechanism Design.pdf
/24 - Single-Agent Mechanism Design 2.pdf
/3 - Intro to Game Theory 2.pdf
/4 - Intro to Game Theory 3.pdf
/5 - Primer in Combinatorial Optimization.pdf
/7 - Stable Matching.pdf
/8 - Stable Matching 2.pdf
/9 - Application - Faculty Hiring.pdf
