/1 - Intro.pdf
/11 - Scalable Data Analysis.pdf
/12 - Review.pdf
/2 - Some Probability and Statistics.pdf
/3 - Model-Based Classification.pdf
/4 - Clustering and the k-means Algorithm.pdf
/5 - Mixture Models.pdf
/6 - Mixture Models and EM.pdf
/7 - Hidden Markov models.pdf
/8 - Linear Regression.pdf
/9 - Generalized Linear Models (GLMs) and Expone.pdf
