/1 - Intro.pdf
/10 - Midterm Review & Local Operations on Meshe.pdf
/11 - Geometry Processing.pdf
/12 - Geometric Queries.pdf
/13 - Spatial Data Structures.pdf
/14 - Color.pdf
/15 - The Rendering Equation.pdf
/16 - PathTracer.pdf
/17 - Numerical Integration.pdf
/18 - Monte Carlo Rendering.pdf
/19 - Variance Reduction.pdf
/2 - Linear Algebra Review.pdf
/20 - Variance Reduction 2.pdf
/21 - Inrto 2 Animation.pdf
/22 - Dynamics and Time Integration.pdf
/23 - Intro 2 Optimization.pdf
/24 - Physically-Based Animation & PDEs.pdf
/25 - Physically-Based Animation & PDEs 2.pdf
/26 - Final Exam Review.pdf
/3 - Vector Calculus Review.pdf
/4 - Drawing a Triangle & Intro 2 Sampling.pdf
/5 - Spatial Transformations.pdf
/6 - Spatial Trasformations 2.pdf
/7 - Perspective Projection & Texture Mapping.pdf
/8 - Texture Mapping 2.pdf
/9 - Intro 2 Geometry.pdf
