/Apostila de Laboratório.pdf
/Atividade 5 2020.pdf
/Atividade 6 2020.pdf
/Enunciado Atividade 3.pdf
/Enunciado Lab4.pdf
/Exercício para aula de 08-06-2020.pdf
/Exercício para aula de 11-05-2020 (1).pdf
/Exercício para aula de 15-06-2020.pdf
/Exercício para aula de 18-05-2020.pdf
/Exercício para aula de 29-06-2020.pdf
