/01a.course-logistics.pdf
/01b.intro-stat-learning-theory.pdf
/01c.excess-risk-decomposition.pdf
/02a.SGD.pdf
/02b.gradient-descent.pdf
/02c.L1L2-regularization.pdf
/03a.elastic-net.pdf
/03b.loss-functions.pdf
/03c.subgradient-descent-lasso.pdf
/04a.convex-optimization.pdf
/04b.SVM.pdf
/04c.SVM-ComplementarySlackness.pdf
/04d.kernel-methods.pdf
/05a.representer-theorem.pdf
/05b.citysense.pdf
/05b.kernel-methods.pdf
/05c.MLE.pdf
/06a.conditional-probability-models.pdf
/06b.bayesian-methods.pdf
/06b.classifier-performance.pdf
/06c.midterm-review.pdf
/08a.bayesian-regression.pdf
/08b.bayesian-methods.pdf
/09b.multiclass.pdf
/11b.bagging-random-forests.pdf
/11b.gradient-boosting.pdf
/11c.adaboost.pdf
/12a.neural-networks.pdf
/12b.backpropagation.pdf
/13a.k-means.pdf
/13b.mixture-models.pdf
/13c.EM-algorithm.pdf
