/1 - Overview of supervised learning.pdf
/10 - Random Forests.pdf
/11 - Boosting 1 - AdaBoost.pdf
/13 - Feedforward NNs.pdf
/15 - RNNs.pdf
/16 - Autoencoders.pdf
/3 - Logistic Regression.pdf
/4 - Exponential family of distributions and gen.pdf
/5 - Linear Regression.pdf
/7 - PCA.pdf
/9 - Classification and Regression Tree (CART).pdf
