/10.Lab.MidtermRecap.pdf
/11.bayesian-networks.pdf
/12.bayesian-methods.pdf
/12.Lab.bayesian-methods.pdf
/13.mixture-models.pdf
/14a.information-theory.pdf
/14b.EM-algorithm.pdf
/1a.course-logistics.pdf
/1b.intro-slt-riskdecomp.pdf
/1c.stoch-grad-descent.pdf
/2.Lab.subgradient-descent.pdf
/2a.excess-risk-example.pdf
/2b.L1L2-regularization.pdf
/3a.loss-functions.pdf
/3b.convex-optimization.pdf
/3c.SVM.pdf
/4.Lab.kernelizations.pdf
/4a.kernels-highlevel.pdf
/4b.features.pdf
/4c.kernels.pdf
/5.Lab.misc.pdf
/5b.bias-variance.pdf
/6b.boosting.pdf
/7a.gradient-boosting.pdf
/7b.neural-networks.pdf
/8.Lab.glm.pdf
/8a.citysense.pdf
/8b.conditional-probability-models.pdf
/9.midterm-review.pdf
