/1 - Intro.pdf
/10 - Learning Bayesian Nets.pdf
/11 - Linear algebra revision.pdf
/12 - Dimensionality reduction - SVD.pdf
/13 - Dimensionality reduction - PCA.pdf
/14 - Linear prediction.pdf
/15 - Probabilistic linear prediction.pdf
/16 - Regularization - Ridge Regression.pdf
/17 - Nonlinear prediction & Generalization.pdf
/18 - Nonlinear prediction & Generalization 2.pdf
/19 - Lasso Regularization & Feature Selection.pdf
/2 - Probability.pdf
/20 - Dirichlet and Categorical Variables - Naiv.pdf
/21 - Optimization - Gradient Descent & Newtons .pdf
/22 - Logistic Regression and Neuron Models.pdf
/23 - NNs.pdf
/24 - SOTA NNs.pdf
/25 - Decision trees.pdf
/26 - Random Forests.pdf
/3 - Bayes rule.pdf
/4 - PGMs.pdf
/5 - Inference in PGMs.pdf
/6 - HMMs.pdf
/7 - Distributions, expectations & Bernoulli Ran.pdf
/8 - Entropy and maximum likelihood.pdf
/9 - Bayesian learning.pdf
