/1- Intro.pdf
/10 - Partial Delete Relaxation.pdf
/11 - Abstractions.pdf
/12 - Pattern Database Heuristics.pdf
/13 - Merge-and-Shrink Heuristics.pdf
/14 - Landmark Heuristics.pdf
/15 - Combining Heuristic Functions.pdf
/16 - Combining Heuristic Functions Part II - LP.pdf
/17 - Comparing Heuristic Functions.pdf
/18 - Partial-Order Reduction.pdf
/19 - Dominance Pruning.pdf
/2 - Planning Formalisms.pdf
/20 - Symmetry Reduction.pdf
/21 - . Planning Systems and the IPC.pdf
/22 - Exam Preparation.pdf
/3- PDDL.pdf
/4 - Applications.pdf
/5 - Causal Graphs.pdf
/6 - Progression and Regression.pdf
/7 -  Heuristic Search.pdf
/8 - Critical Path Heuristics.pdf
/9 -  Delete Relaxation Heuristics.pdf
