/1 - Intro.pdf
/3 - Independent Cascade Model.pdf
/4 - Influence in the Voter Model.pdf
/6 - Can Cascades be Predicted.pdf
/7 - Network Bucket Testing Problem.pdf
/8 - Maximizing spread of fake news.pdf
