/1 - Introduction, counting and sets.pdf
/2 - Probability basics.pdf
/3 - Conditional probability, Bayes_ theorem.pdf
/4 - Discrete random variables, expectation.pdf
/5 - Variance, continuous random variables.pdf
/6 - Gallery of continuous variables, histograms.pdf
/7 - Expectation, variance, law of large numbers.pdf
/8 - Joint distributions - Independence, covaria.pdf
/9 - Review for exam 1.pdf
