/1 - Overview.pdf
/10 - NNs.pdf
/11 - CNNs.pdf
/12 - RNNs & NLP Applications.pdf
/13 - Matrix Factorization & RecSys.pdf
/14 - Semi-supervised learning, graph NNs.pdf
/2 -  Linear regression and classification.pdf
/3 - Optimization.pdf
/4 - SGD.pdf
/5 - Clustering.pdf
/6 - Nonlinear mapping, Model complexity.pdf
/7 - VC Dimension.pdf
/8 - Kernel Methods.pdf
/9 - Tree-based Methods.pdf
