/1 - 2D and 3D Transformations.pdf
/10 - Surface Reconstruction & Marching Cubes.pdf
/11 - Curve and Surface Reconstruction from Samp.pdf
/12 - Motion - Collision Detection.pdf
/13 - Collision Detection & Motion Planning.pdf
/14 - Course Review & Other Topics.pdf
/2 - 2D and 3D Transformations 2.pdf
/3 - Elementary Differential Geometry.pdf
/4 - Shape Registration.pdf
/5 - Shape Matching.pdf
/6 - Voronoi_Delaunay Diagrams & Distance Functi.pdf
/7 - Topology.pdf
/8 - Simplicial Complexes, Homology, Persistance.pdf
/9 - Nearest Neighbor Search.pdf
