/1 - Review of Prob and Stats.pdf
/10 - Continuie Liner Discriminant Functions.pdf
/11 - Support Vector Machines.pdf
/12 - MultiLayer Neural Networks 1.pdf
/13 - MultiLayer Neural Networks 2.pdf
/14 - MultiLayer Neural Networks 3.pdf
/15 - Unsupervised Learning - Clustering.pdf
/16 - Unsupervised Learning - Clustering 2.pdf
/17 - EM algorithm and Parametric Unsupervised C.pdf
/18 - Low dimensional Representation of High dim.pdf
/2 - Review of Linear Algebra.pdf
/3 - Bayesian Decision Theory.pdf
/4 - Discriminant Functions for Gaussian Random .pdf
/5 - Maximum Likelihood and Baysian Parameter Es.pdf
/6 - Nonparametric Density Estimation.pdf
/7 - The Curse of Dimensionality and PCA.pdf
/8 - Fisher Linear Discriminant.pdf
/9 - Linear Discriminant Functions.pdf
