/10 - SVMs.pdf
/11 - Clustering & Dimensionality Reduction.pdf
/2 - Inductive Learning.pdf
/3 - Decision Trees.pdf
/4 - Rule Induction.pdf
/5 - Instance-Based Learning.pdf
/6 - Bayesian Learning.pdf
/7 - NNs.pdf
/8 - Model Ensembles.pdf
/9 - Learning Theory.pdf
