/1 - Gradient methods for unconstrained problems.pdf
/10 - Stochastic gradient methods.pdf
/11 - Variance reduction for stochastic gradient.pdf
/3 - Subgradient methods.pdf
/4 - Mirror descent.pdf
/5 - Proximal gradient methods.pdf
/6 - Accelerated gradient methods.pdf
/7 - Smoothing for nonsmooth optimization.pdf
/8 - Dual and primal-dual methods.pdf
/9 - Alternating direction method of multipliers.pdf
