/1 - Distributional Semantics.pdf
/2 - Word Sense Disambiguation.pdf
/3 - Classification, Linear Models, Naive Bayes.pdf
/4 - Linear Models - Naive Bayes & Perceptron.pdf
/5 - Linear Models - Perceptron, Logistic Regres.pdf
/6 - From Logistic Regression to NNs.pdf
/7 - NNs, Computation Graphs.pdf
