/1 - Introduction.pdf
/10 - Transactions and Recovery.pdf
/11 - Transactions and Recovery 2.pdf
/12 - Concurrency Control.pdf
/14 - Concurrency Control 2.pdf
/15 - Combining Concurrency & Recovery.pdf
/16 - Distributed Databases.pdf
/19 - Final Exam.pdf
/2 - System Architecture 1.pdf
/20 - Final Exam Solutions.pdf
/3 - System Architecture 2.pdf
/4 - Storage Formats 1.pdf
/5 - Storage Formats 2.pdf
/6 - Query Execution.pdf
/7 - Query Optimization 1.pdf
/8 - TF Graph Optimizations.pdf
/9 - Query Optimization 2.pdf
