/1 - Intro.pdf
/10 - Linear and Logistic Regression.pdf
/11 - Gradient Descent.pdf
/12 - Gradient Descent 4 Logistic Regression Dem.pdf
/13 - Loss Functions and Regularization.pdf
/14 - Basics of DL.pdf
/15 - Pytorch Demo.pdf
/16 - CNNs.pdf
/17 - CNNs Demo.pdf
/18 - Pytorch - CIFAR10 CNN, BatchNorm and Resid.pdf
/19 - Clustering.pdf
/2 - Overview of AI.pdf
/20 - Demo Clustering.pdf
/21 - Review of Probability.pdf
/22 - Density Estimation.pdf
/23 - GMMs.pdf
/24 - Autoencoders.pdf
/25 - GANs.pdf
/26 - Deep Convolutional GAN.pdf
/27 - DCGAN Demo.pdf
/28 - Transposed Convolution.pdf
/3 - How to select research papers.pdf
/30 - A primer on Optimal Transport.pdf
/31 - Invertible Normalizing Flows.pdf
/32 - Change of Variables Demo.pdf
/33 - Iterative Normalizing Flows via Destructiv.pdf
/34 - Distribution Alignment.pdf
/35 - Diffusion Models.pdf
/4 - PCA.pdf
/5 - Brief Review of Linear Algebra.pdf
/7 - PCA Demo 2.pdf
/8 - KNN & ML Evaluation.pdf
/9 - KNN Demo.pdf
