/1 - Pruning and Sparsity 1.pdf
/2 - Pruning and Sparsity 2.pdf
/3 - Quantization 1.pdf
/4 - Quantization 2.pdf
/5 - Neural Architecture Search (NAS) 1.pdf
/6 - Neural Architecture Search (NAS) 2.pdf
