/0 - Intro to ML.pdf
/1 - Trainining DNNs.pdf
/11 - Seeig people with DL.pdf
/13 - Deep Generative Models.pdf
/14 - Spech recognition and DL.pdf
/17 - Multimodal learning, Recurrent Attention m.pdf
/18 - DL Faster.pdf
/2 - MultiLayer NNs.pdf
/20 - From Language Modelling to Machine Transla.pdf
/21 - Deep NLP RNNs.pdf
/22 - Memory, Reading, and Comprehension.pdf
/23 - Deep NLP Applications & Dynamic Memory Net.pdf
/24 - Smooth, Finite, and Convex Optimization.pdf
/25 - Visual features II.pdf
/26 - Non-Smooth, Non-Finite, and Non-Convex Opt.pdf
/27 - Variational Autoencoder and Extensions.pdf
/28 - Bengio Deep Generative Models.pdf
/29 - Theretical Motivations.pdf
/30 -Multilayer NNs.pdf
/4 - Undirected Graphical Models.pdf
/5 - Stacks of Restricted Boltzmann Machines.pdf
/7 - Visual features - From Fourier to Gabor.pdf
/8 - CNNs.pdf
/9 - LEARNING TO COMPARE.pdf
