/1 - Gauss Markov Models.pdf
/10 - Online Convex Programming.pdf
/11 - Random fields for Ladar data and estimatio.pdf
/12 - Learning by Constraints and SVMs.pdf
/13 - Support Vector Machines and Bayes Regressi.pdf
/14 - Boosting - Gradient Descent in Function Sp.pdf
/15 - Bayes’ Linear Regression.pdf
/16 - Kalman Filtering.pdf
/17 - Kalman Filtering (part 2).pdf
/18 - Gaussian Processes.pdf
/2 - Sampling Based Filters.pdf
/20 - SLAM Part 2 and Intro to Kernel Machines.pdf
/21 - Kernel Machines Review & Functional Gradie.pdf
/22 - How to apply Machine Learning.pdf
/4 - Mapping.pdf
/6 - Gibbs Fields & Markov Random Fields.pdf
/7 - Inference in Gibbs Fields.pdf
/8 - Normative View, Induction and Learning.pdf
/9 - General Weighted Majority, Online Learning .pdf
