/1 - Intro.pdf
/10 - NNs 4 text.pdf
/2 - Linear Models.pdf
/3 - Kernelization.pdf
/4 - Model Selection.pdf
/5 - Ensemble Learning.pdf
/6 - Data Preprocessing.pdf
/7 - Bayesian Learning.pdf
/8 - NNs.pdf
/9 - CNNs.pdf
