/1 - Gradients & More.pdf
/10 - SVD.pdf
/11 - Matrix Factorizations.pdf
/12 - Submodular Functions.pdf
/13 - Proximal Gradient Descent.pdf
/14 - Alternating Projection.pdf
/15 - Review.pdf
/2 - Convex Sets & Functions.pdf
/3 - Gradient Descent.pdf
/4 - Convex Optimization.pdf
/5 - Projected Gradient Descent.pdf
/6 - Duality.pdf
/7 - Newtons Method.pdf
/8 - Applications.pdf
/9 - Linear Algebra Review.pdf
