/11 - The Syntax of Propositional Logic.pdf
/12 - The Semantics of Propositional Logic.pdf
/13 - Propositional Logic Metatheoretic Definiti.pdf
/14 - Formal Deduction.pdf
/15 - Proof.pdf
/25 - Algorithms with Exponential Complexity.pdf
/3 - Algorithmic Constructs.pdf
/30 - Graph Problems.pdf
/31 - Reductions.pdf
/6 - Recursive Algorithms.pdf
/7 - Formal Languages.pdf
