/1 - Introduction to the Course.pdf
/10 - Farkas Lemma, the Dual Simplex, Sensitivit.pdf
/11 - Ellipsoid Methods.pdf
/12 - Introduction to Interior Point Methods.pdf
/13 - Introduction to Network Flows.pdf
/14 - Network Simplex.pdf
/15 - Network Simplex for Capacitated Problems a.pdf
/16 - Applications in Finance of Linear Programs.pdf
/17 - Integer Linear Programs.pdf
/18 - Cutting Planes, Branch-and-bound, Knapsack.pdf
/19 - A Window on Semidefinite Programming.pdf
/2 - Linear Programs and Linear Equations.pdf
/20 - Linear Equations on Semidefinite Matrices.pdf
/3 - Basic Convexity.pdf
/4 - The Geometry of the Solutions of a Linear P.pdf
/5 - The Simplex.pdf
/6 - Tableaux.pdf
/7 - Initial Solutions and Troubleshooting.pdf
/8 - Complexity of the Simplex.pdf
/9 - Duality.pdf
