/10 - Program Transformations.pdf
/11 - Vectorisation.pdf
/12 - Parallelisation.pdf
/13 - Speculative Parallelisation.pdf
/14 - Adaptive and Profile Directed Compilation.pdf
/15 - ML 4 Compilers.pdf
/16 - DL 4 Compilers.pdf
/2 - Coursework.pdf
/3 - Dataflow Analysis.pdf
/4 - Dataflow Analysis.pdf
/5 - Conversion from SSA (addendum).pdf
/6 - Instruction Selection.pdf
/7 - Instruction Scheduling.pdf
/8 - Register Allocation.pdf
/9 - Dependence Analysis.pdf
