/1 - Notions and Measures for Discrimination.pdf
/10 - Bias in Search and RecSys 2.pdf
/11 - Procedural Fairness.pdf
/2 - Detecting Discrimination.pdf
/3 - Detecting Discrimination 2.pdf
/4 - Mitigating Discrimination - In-processing M.pdf
/7 - Individual Unfairness - Social Welfare and .pdf
/8 - Individual vs. Group Unfairness.pdf
