/1 - Intro.pdf
/10 - Oscillation in an Infinite System 3.pdf
/11 -  Oscillation in an Infinite System 4.pdf
/12 - Various types of waves.pdf
/13 - Various types of waves 2.pdf
/14 - Reflection and Transmission.pdf
/15 -  Reflection and Transmission 2.pdf
/16 - Interference and Diffraction.pdf
/17 - Interference and Diffraction.pdf
/19 - Polarization.pdf
/2 - Simple Harmonic Oscillator.pdf
/20 - Wave packet and modulation.pdf
/3 - Simple Harmonic Oscillator 2.pdf
/4 - Damped and Driven Harmonic Oscillator.pdf
/5 - Damped and Driven Harmonic Oscillation 2.pdf
/6 - Coupled Harmonic Oscillators, Normal Modes.pdf
/8 - Oscillation in an Infinite System.pdf
/9 - Oscillation in an Infinite System 2.pdf
