/01-Introduction.pdf
/02-System-Architecture.pdf
/03-System-Architecture-p2.pdf
/04-Storage-Formats-p1.pdf
/05-Storage-Formats-p2.pdf
/06-Query-Execution.pdf
/07-Query-Optimization-p1.pdf
/08-Query-Optimization-p2.pdf
/09-Deep-Learning.pdf
/10-Transactions-and-Recovery.pdf
/11-Recovery-p2.pdf
/12-Concurrency.pdf
/13-Concurrency-p2.pdf
/14-Distributed.pdf
/15-Distributed-p2.pdf
/16-Cloud-Systems.pdf
/17-Streaming.pdf
