/1 - Intro.pdf
/10 - Kernels.pdf
/11 - Regularized Linear Models.pdf
/12 - SGD.pdf
/13 - DNNs.pdf
/14 - Backprop.pdf
/15 - Statistical Learning Theory 1.pdf
/16 - Statistical Learning Theory 2.pdf
/17 - Statistical Learning Theory 3.pdf
/18 - Generative Models for Classification.pdf
/19 - Structured Output Prediction - Discriminat.pdf
/2 - Instance-Based Learning.pdf
/21 - Boosting.pdf
/22 - Learning to Act and Causality.pdf
/23 - Fairness in Ranking & Wrap-Up.pdf
/23 - Privacy and Fairness.pdf
/3 -  Supervised Learning & Decision Trees.pdf
/4 - Prediction and Overfitting.pdf
/5 - Model Evaluation.pdf
/6 - Linear Classifiers and Perceptrons.pdf
/7 - Convergence of Perceptron.pdf
/7 - Structured Output Prediction - Generative M.pdf
/8 - SVMs.pdf
/9 - Margin, Duality and Stability.pdf
