/10 - Modeling Sequential Dat.pdf
/2 - Bayesian Framework.pdf
/3 - Bayesian Methods 4 ML.pdf
/4 - Classification.pdf
/5 - Graphical Models.pdf
/6 - Mixture Models & EM.pdf
/7 - Variational Inferenc.pdf
/8 - Sampling Methods.pdf
/9 - Continuous Latent Variable Models.pdf
