/aInformed Heuristic Search.pdf
/bInformed Search and Exploration.pdf
/cInformed Search.pdf
/dBlind and Informed Search Strategies.pdf
/eInformed Search.pdf
/fInformed Search  2.pdf
/gInformed Search and Exploration.pdf
/hInformed Search Methods.pdf
/iInformed Search.pdf
/nInformed (Heuristic) Search.pdf
