/Abstractions in mathematics.pdf
/An Even More Bitter Lesson.pdf
/Intelligence as software engineering.pdf
/Issues vith AlphaZero.pdf
/Math - our overlooked ability.pdf
/QuickSpec and the quest for good lemmas.pdf
/Search vs meta-search.pdf
/The general intelligence hypothesis.pdf
/The Inevitable Trust Bottleneck.pdf
