/05_gpuArchShaderCores_BPS_2011.pdf
/ada2020_gpu_1.pdf
/AppendixA_Graphics_and_Computing_GPUs.pdf
/GPU-CUDA_v3 (1).pdf
/GPU-CUDA_v3.pdf
/GPUArchitecture.pdf
/gpu_ufmg_2015_1.pdf
/ProgrammingModels.pdf
/seth-740-fall13-module5.1-simd-vector-gpu.pdf
