/1 - Intro.pdf
/10 - Morphological Word Embeddings.pdf
/11 - NLP for Social Media.pdf
/12 - Synthetic Data Made to Order - The Case of.pdf
/16 - Broad-Coverage Semantic Parsing.pdf
/17 - Structured Prediction.pdf
/18 - Course Review.pdf
/2 - Modeling Grammaticality.pdf
/3 - English Grammar.pdf
/4 - Probabilities and Language Models.pdf
/5 - Log-Linear Models.pdf
/6 - ML Basics.pdf
/7 - Maxent Models, Conditional Extimation & Opt.pdf
/8 - Linguistics 101.pdf
/9 - Lannguages of the World.pdf
