/1 - Intro.pdf
/10 - Active Learning Review.pdf
/11 - Active Learning - When precisely does acti.pdf
/12 -  Active Learning Review & Kernelization.pdf
/13 - Nonparametric Learning - RKHS.pdf
/14 - Nonparametric Learning - Gaussian Processe.pdf
/15 - Nonparametric Learning - Gaussian Process .pdf
/16 - Nonparametric Learning - Hyperparameter Op.pdf
/17 - Active Learning in GPs.pdf
/2 - Online Algorithms - Learning & Optimization.pdf
/4 -  Online Convex Optimization.pdf
/5 - Online versus Offline SVMs.pdf
/7 - Dealing with Partial Feedback.pdf
/8 - Review.pdf
/9 - Active Learning - Background and Pool-based.pdf
