/1 - Introduction, linear classification, percep.pdf
/10 - Evaluation.pdf
/11 - Description length, feature selection.pdf
/12 - Feature Selection & Ensembles.pdf
/13 - Boosting, margin, and complexity.pdf
/14 - Margin and generalization, mixture models.pdf
/15 - Mixtures and the expectation maximization .pdf
/16 - EM, regularization, clustering.pdf
/17 - Clustering.pdf
/18 - Spectral clustering, Markov models.pdf
/19 - Hidden Markov models (HMMs).pdf
/2 - Perceptron convergence, generalizatio.pdf
/20 - Hidden Markov models (HMMs) 2.pdf
/21 - Bayesian networks.pdf
/22 - Learning Bayesian networks.pdf
/23 - Markov Random Fields, Probabilistic Infere.pdf
/3 - Maximum margin classification.pdf
/4 - Classification errors, regularization, logi.pdf
/5 - Linear regression, estimator bias and varia.pdf
/6 - Active learning (cont.), non-linear predict.pdf
/7 - Kernel regression, kernels.pdf
/8 - SVM & Kernel Optimization.pdf
/9 - Kernel Optimization & Kernel Selection.pdf
