/1 - Linear algebra review, adjacency and Laplac.pdf
/10 - Spectral sparsification (cont.), introduct.pdf
/2  -Properties of the Laplacian, positive semid.pdf
/3 - Courant-Fischer and Rayleigh quotients, gra.pdf
/4 - (Lazy) random walks, their stationary distr.pdf
/5 - Monte Carlo methods continued, approximate .pdf
/6 - Diameters and eigenvalues, expander graphs.pdf
/7 - Nonblocking routing networks, local and alm.pdf
/8 - Local and almost-linear time clustering and.pdf
/9 - Sparsification (combinatorial and spectral).pdf
