/10 - Optimization of Deep Functions.pdf
/12 - CNNs.pdf
/14 - Probability and Random Variables.pdf
/16 - Training and Generalization.pdf
/19 - SGD.pdf
/2 - Outline.pdf
/21 - Widely Used DL Techniques.pdf
/23 - RNNs.pdf
/25 - Generative Models.pdf
/28 - Score Matching.pdf
/4 - What is ML.pdf
/6 - Gradient Descent Optimization.pdf
/8 - Tensors.pdf
