/1 - Intro to MATLAB and Simulink.pdf
/2 -  Basic Concepts in Control System Design.pdf
/3 -  Quanser Hardware and Proportional Control.pdf
/4 - Model-based Position Control of a Cart.pdf
/5 - Magnetic Levitation.pdf
/6 - Magnetic Levitation 2.pdf
/7 - Pole Placement for the Inverted Pendulum.pdf
/8 - Luenberger Observer Design for Inverted Pen.pdf
