/10 - Magnetic Multipole Expansion and Magnetic .pdf
/17 - E&M Review on Waves, Potentials, and Radia.pdf
/3 - Integral Formulation of Basic Equations.pdf
/5  - Image Charge Method_ Separation of Variabl.pdf
/6 - Separation of Variables in Spherical Coordi.pdf
