/1 - Intro.pdf
/10 - Correlation analysis 1 - Canonical correla.pdf
/11 - Correlation analysis 2 -Measures of correl.pdf
/12 - Correlation analysis 3 - Measures of corre.pdf
/13 - Regression 1 - Different perspectives.pdf
/14 - Regression 2 - More perspectives, shortcom.pdf
/15 - Regression 3 - More perspectives, shortcom.pdf
/16 - Modern regression 1 - Ridge regression.pdf
/17 - Modern regression 2 - The lasso.pdf
/18 - Evaluation 1 - Cross-validation.pdf
/19 - Evaluation 2 - Model assessment, more cros.pdf
/2 - Information retrieval.pdf
/20 - Classification 1 - Linear regression of in.pdf
/21 - Classification 2 -  LDA, Logistic Regressi.pdf
/22 - Classification 3 - Logistic regression_ mo.pdf
/23 - Decision Trees.pdf
/24 - Bagging.pdf
/25 - Boosting.pdf
/3 - PageRank.pdf
/4 - Clustering 1 - K-means and K-medoids.pdf
/5 - Clustering 2 - Hierarchical clustering.pdf
/6 - Clustering 3 - Hierarchical clustering (con.pdf
/7 - Dimension reduction 1 - PCA 1.pdf
/8 - Dimension reduction 2 - PCA 2.pdf
/9 - Dimension reduction 3 - Nonlinear dimension.pdf
