/1 - Intro 2 Inference & Learning.pdf
/10 - HMM.pdf
/11 - Graph Cuts & CRFs.pdf
/12 - Gaussian Processes.pdf
/13 - Boltzmann Machines.pdf
/2 - Simple Classifiers.pdf
/3 - Directed Models.pdf
/4 - Undirected graphical models.pdf
/5 - Exact inference.pdf
/6 - Variational inference 1.pdf
/7 - Variational inference 2.pdf
/8 - Variational inference 3.pdf
/9 - Sampling.pdf
