/1 - Overview, intro. to FB control, dynamic mod.pdf
/10 - Problems 1.pdf
/11 - Solutions 1.pdf
/12 - Problems with Solutions 1.pdf
/13 - Problems with Solutions 2.pdf
/14 - Problems 2.pdf
/15 - Solutions 2.pdf
/16 - Design via Frequency Response.pdf
/17 - Design via State Space.pdf
/18 - Controllability.pdf
/19 - Separability of Observer & Controller Dyna.pdf
/2 - Modeling in the frequency domain.pdf
/20 - LQR.pdf
/21 - Digital Control Systems.pdf
/22 - Discrete Time State Space Approach.pdf
/23 - Control of robot motion from video.pdf
/24 - Problems 3.pdf
/25 - Solutions 3.pdf
/3 - Modeling in the time domain.pdf
/4 - Time response.pdf
/5 - Block Diagrams, Stability, Steady State Err.pdf
/6 - Steady state errors & Root locus intro.pdf
/7 - Root locus techniques.pdf
/8 - Design via Root Locus.pdf
/9 - Frequency Response Techniques.pdf
