/brennan-io-kernel-dev-ep3.pdf
/stackoverflow-can-a-system-call-happen-in-a-c-p.pdf
/stackoverflow-how-do-system-calls-work.pdf
/stackoverflow-what-is-better-int-0x80-or-syscal.pdf
/System Calls no Linux.pdf
