/1 - Introduction, Principal Components Analysis.pdf
/10 - Neural Networks.pdf
/11 - Evaluation, Validation, Model Selection.pdf
/12 - Decision Trees, Ensemble Methods.pdf
/13 - Bayesian Learning.pdf
/2 - Biplots, Multidimensional Scaling.pdf
/3 - MDS, Isomap, Clustering.pdf
/4 - Probabilistic Unsupervised Learning, EM Alg.pdf
/5 - Introduction to Supervised Learning, Linear.pdf
/6 - Reduced-Rank LDA, QDA.pdf
/7 - Naive Bayes, Logistic Regression.pdf
/8 - Support Vector Machines, Kernel Trick.pdf
/9 - Kernel Methods, Smoothing and Nearest Neigh.pdf
