/1 - Math Tools 4 ML.pdf
/12 - Processing Spoken Language.pdf
/2 - Linear Classifiers.pdf
/3 - Intro to NNs.pdf
/4 - Explainability for NLP.pdf
/5 - Sequence Models.pdf
/6 - Graph Neural Networks in NLP.pdf
/7 - Learning Structured Predictors.pdf
/8 - NLP for the real world.pdf
/9 - Modeling structured data with NNs.pdf
