/1 - Intro 2 DNNs 1.pdf
/2 - Intro 2 DNNs 2.pdf
/3 - Learning to Recommend via Matrix Factorizat.pdf
/4 - Model Selection, Evaluation Metrics, Imbala.pdf
/5 - RL.pdf
/6 - Ensemble Methods.pdf
/7 - Bias-Variance Trade-off, Practical Issues, .pdf
/8 - Multitask Learning, Other Topics, Conclusio.pdf
