/10 - Sequences and summations.pdf
/11 - Exam1 review.pdf
/12 - Induction.pdf
/13 - Strong induction, well-ordering principle.pdf
/14 - Recursive definitions and structural induc.pdf
/15 - Recursive algorithms.pdf
/16 - Counting.pdf
/17 - Pigeonhole Principle.pdf
/18 - More permutations and combinations.pdf
/19 - Introduction to probability.pdf
/2 - Logical equivalences, predicates, quantifie.pdf
/20 - Exam2 review.pdf
/21 - Probability Theory.pdf
/22 - Bayes Theorem, expected value, variance.pdf
/23 - Deterministic finite state machines.pdf
/24 - Regular languages, nondeterministic FA.pdf
/25 - Push-down Automata, Context Free Grammars.pdf
/26 - Turing machines.pdf
/3 - Nested quantifiers.pdf
/4 - Rules of inference.pdf
/5 - Introduction to Proofs.pdf
/6 - Proof Methods and Strategies.pdf
/7 - Number theory.pdf
/8 - Sets and set operations.pdf
/9 - Functions.pdf
