/1 - Intro.pdf
/10 - Online Learning 1.pdf
/11 - Online Learning 2.pdf
/12 - Prediction on Graphs.pdf
/15 - Experts Setting,Exp Weights.pdf
/16 - Minimax Basics.pdf
/17 - Random Playout.pdf
/18 - Online Linear Optimmization.pdf
/19 - OLO - Deterministic Methods.pdf
/3 - Optimization 1.pdf
/6 - Logistic Regression, NNs.pdf
/7 - Alternating Minimization.pdf
/9 - Bias-Variance Tradeoff.pdf
