/10 - Control Systems for Human Running.pdf
/2 - Virtualizing Reality.pdf
/3 - (Marker-based) Motion Capture.pdf
/6 - Articulated Body Representation.pdf
/8 - Body Pose & Dynamics.pdf
/8 - Body Representations.pdf
