/1 - Gaussians.pdf
/2 - Multivariate Gaussian - Motivation.pdf
/3 - Multivariate Gaussian - Definition.pdf
/4 - Learning Gaussians.pdf
/5 - Bayesian Regression.pdf
/6 - End to End Learning.pdf
/7 - Exponential Families.pdf
