/10 - Classic Games.pdf
/2 - MDPs.pdf
/3 - Planning by Dynamic Programming (DP).pdf
/4 - Model-Free Prediction.pdf
/5 - Model-Free Control.pdf
/6 - Value Function Aproximation.pdf
/7 - Policy Gradient.pdf
/8 - Integrating Learning and Planning.pdf
/9 - Exploration and Exploitation.pdf
