/1 - The Learning Problem.pdf
/10 - NNs.pdf
/11 - Overfitting.pdf
/12 - Regularizatio.pdf
/13 - Validation.pdf
/14 - SVMs.pdf
/15 - Kernel Methods.pdf
/16 - Radial Basis Functions.pdf
/17 - Three Learning Principles.pdf
/18 - Epilogue.pdf
/2 - Is Learning Feasible.pdf
/3 - The Linear Model 1.pdf
/4 - Error and Noise.pdf
/5 - Training versus Testing.pdf
/6 - Theory of Generalizatio.pdf
/7 - The VC Dimensio.pdf
/8 - Bias-Variance Tradeoff.pdf
/9 - The Linear Model 2.pdf
