/1 - Rule Mining and the Apriori Algorithm.pdf
/10 - Boosting.pdf
/11 - Convex Optimization Overview.pdf
/12 - SVMs.pdf
/14 - Intro 2 Statistical Learning Theory.pdf
/4 - Bias-Variance Tradeoff.pdf
/6 - K-NN.pdf
/7 - Naive Bayes.pdf
/9 - Logistic Regression.pdf
