/0005_class_intro.pdf
/0010_intro__why_study_this.pdf
/0012_intro__practicals.pdf
/0030_dnaseq__seq_past_and_present.pdf
/0040_dnaseq__random_substring.pdf
/0050_dnaseq__dna_copying.pdf
/0055_dnaseq__sequencing_by_synthesis.pdf
/0060_dnaseq__seq_errors_quals.pdf
/0070_dnaseq__understanding_reads.pdf
/0100_pieces__fragmentary.pdf
/0110_pieces__alignment_hard.pdf
/0200_exactmatch__strings.pdf
/0210_exactmatch__naive.pdf
/0220_exactmatch__boyer_moore.pdf
/0225_exactmatch__boyer_moore_together.pdf
/0235_exactmatch__repeat_excursion.pdf
/0240_exactmatch__preproc.pdf
/0300_index__index.pdf
/0310_index__index_ds.pdf
/0315_index__index_hash.pdf
/0320_index__index_variants.pdf
/0330_index__excursion.pdf
/0400_approx__intro.pdf
/0410_approx__pigeonhole.pdf
/0420_approx__editdist.pdf
/0430_approx__editdist2.pdf
/0440_approx__editdist3.pdf
/0450_approx__editdist_friends.pdf
/0460_approx__excursion.pdf
/0500_asm__basics.pdf
/0510_asm__overlaps.pdf
/0520_asm__overlap_graph.pdf
/0530_asm__scs.pdf
/0540_asm__greedy_scs.pdf
/0550_asm__third_law.pdf
/0560_asm__dbg.pdf
/0570_asm__dbg2.pdf
/0580_asm__practice.pdf
/0590_asm__longreads.pdf
/0600_wrapup.pdf
