/1 - Intro.pdf
/2 - Vectors and Matrices.pdf
/3 - 2-D Plotting.pdf
/4 - Algorithmic Thinking.pdf
/6 - User-Defined Functions.pdf
/7 - 3-D Plotting.pdf
/8 - File IO.pdf
/9 - Engineering Applications.pdf
