/3 - Example cognitive architectures - ISAC.pdf
/4 - The CRAM cognitive architecture - design pr.pdf
/5 - The CRAM cognitive architecture - structure.pdf
/6 - The CRAM cognitive architecture - operation.pdf
