/00.opening.pdf
/01.black-box-ML.pdf
/02a.intro-stat-learning-theory.pdf
/02b.SGD.pdf
/03a.L1L2-regularization.pdf
/03b.elastic-net.pdf
/04a.loss-functions.pdf
/04b.convex-optimization.pdf
/04c.SVM.pdf
/05a.subgradient-descent.pdf
/05b.features.pdf
/06a.kernel-methods.pdf
/06b.classifier-performance.pdf
/08a.citysense.pdf
/08b.MLE.pdf
/08c.conditional-probability-models.pdf
/09a.bayesian-methods.pdf
/09b.bayesian-regression.pdf
/10c.bagging-random-forests.pdf
/11a.gradient-boosting.pdf
/11b.multiclass.pdf
/13a.k-means.pdf
/13b.mixture-models.pdf
/13c.EM-algorithm.pdf
/14a.neural-networks.pdf
/14b.backpropagation.pdf
/14c.next-steps.pdf
/adaboost.pdf
/bayesian-networks.pdf
/churn.pdf
/constrained-vs-penalized.pdf
/directional-derivatives.pdf
/hard-margin-SVM.pdf
/kernel-methods-intro.pdf
/kernelization.pdf
/kernels-norepresenter.pdf
/kernels-wrapup.pdf
/ml-overview.pdf
/ML1.black-box-ML.pdf
/sgd-gd-revisited.pdf
/test2-review.pdf
