/1 - Bayesian Network Representation.pdf
/3 - I-Maps - Graphs and Distributions.pdf
/4 - Knowledge Engineering.pdf
/5 - Reasoning Patterns and D-Separation.pdf
/6 - From Distributions to Graphs.pdf
/7 - Conditional Independence.pdf
