/2 - Intro.pdf
/3 - Discrete Differential Geometry.pdf
/4 - Smoothing.pdf
/5 - Parameterization.pdf
/6 - Remeshing.pdf
/7 - Deformation.pdf
/8 - Data-driven Approach.pdf
/9 - Data-driven Approach 2.pdf
