/1 - Intro.pdf
/10 - Dual decomposition.pdf
/11 - Dual proximal gradient method.pdf
/12 - Douglas–Rachford method and ADMM.pdf
/13 - Primal–dual proximal methods.pdf
/14 - Conjugate gradient method.pdf
/15 - Newton’s method.pdf
/16 -  Quasi-Newton methods.pdf
/17 - Gauss–Newton method.pdf
/19 - Generalized proximal gradient method.pdf
/2 - Gradient method.pdf
/3 - Subgradients.pdf
/4 - Subgradient method.pdf
/5 - Proximal gradient method.pdf
/6 - Conjugate functions.pdf
/7 - The proximal mapping.pdf
/8 - Accelerated proximal gradient methods.pdf
/9 - Proximal point method.pdf
