/1 - Introduction to temporal point processes.pdf
/10 - Second Coding Assignment.pdf
/12 - Enhancing Human Learning.pdf
/2 - Introduction to temporal point processes 2.pdf
/3 - Advanced concepts in temporal point process.pdf
/4 - First Coding Assignment.pdf
/5 - Information Propagation.pdf
/6 - Opinion Dynamics.pdf
/7 - Information Reliability.pdf
/8 - Optimal Control of TPPs.pdf
/9 - Viral Marketing.pdf
