/1 - Types of ML.pdf
/10 - Multiclass and Multi-label Classification.pdf
/11 - SVMs.pdf
/12 - SVMs - Boundaries, hyperplanes, and slopes.pdf
/13 - Practice.pdf
/14 - Nonlinear Classification.pdf
/2 - Statistical learning framework.pdf
/3 - Mathematical foundations.pdf
/4 - Linear predictors.pdf
/5 - Linear Classification & Perceptron.pdf
/6 - Optimization & Gradient Descent.pdf
/7 - Practice.pdf
/8 - Logistic Regression.pdf
/9 - Regularization.pdf
