/1 - Regression with Basis Functions.pdf
/2 - Gradient Descent.pdf
/3 - Bias-Variance Trade-off in ML.pdf
/4 - Bayesian Linear Regression.pdf
/5 - Bayesian Model Comparison.pdf
/6 - Evidence Approximation.pdf
/7 - Example - Ranking.pdf
