/1 - Branch & Bound (B&B) & Intro to CSP.pdf
/1_1 - Exercices with Solutions.pdf
/2 - SOlving CSPs with Search.pdf
/3 - Arc Consistency in CSPs.pdf
/3_1 - Exercices with Solutions.pdf
/4 - GAC Algorithm and Domain Splitting 4 CSPs.pdf
/5 - Local Search for CSPs.pdf
/6 - Stochastic Local Search.pdf
/6_1 - Exercices with Solutions.pdf
/7 - Stochastic Local Search Algorithms.pdf
