/11 - Fluctuations - Gaussian stochastic model.pdf
/12 - Fluctuations - energy gap Hamiltonian.pdf
/13 - Vibrational relaxation.pdf
/14 - Density matrix.pdf
/4 - Classical description of spectroscopy.pdf
/6 - Absorption cross-section.pdf
/7 - Time correlation functions.pdf
/8 - Absorption lineshapes.pdf
/9 - Linear response theory.pdf
