/1 - Intro.pdf
/10 - Language Models and Knowledge.pdf
/11 - Data.pdf
/13 - Privacy.pdf
/14 - Bias and Toxicity.pdf
/15 - Mitigating Bias and Toxicity.pdf
/16 - Switch Transformers - Scaling with Sparsit.pdf
/17 - Retrieval-based Language Models.pdf
/18 - Following Instructions with RLHF.pdf
/19 - Program Synthesis (Codex).pdf
/2 - BERT (encoder-only models).pdf
/20 - Flamingo - Visual Language Model.pdf
/21 - AI Alignment & LLMs.pdf
/3 - Limits of Transfer Learning with T5.pdf
/4 - GPT-3.pdf
/5 - Prompting 4 Few-shot Learning.pdf
/6 - Prompt as Parameter-Efficient Fine-Tuning.pdf
/7 - Towards Understanding In-context Learning.pdf
/8 - Calibration of prompting LLMs.pdf
/9 - Chain of Thought Prompting.pdf
