/completing-the-square.pdf
/conditional-expectations.pdf
/conditional-exponential-distributions.pdf
/conditional-gamma-distribution.pdf
/convex-optimization.pdf
/directional-derivative.pdf
/elastic-net-theorem.pdf
/language-notation-examples.pdf
/logistic-regression-moment-matching.pdf
/midterm-course-review.pdf
/multiclass-review-ranking.pdf
/poisson-gradient-boosting.pdf
/proportionality.pdf
/rkhs-notes.pdf
/svm-lecture-prep.pdf
/SVM-main-points.pdf
/svm-notes.pdf
/svm-retraining-with-support-vectors.pdf
