/2 - Intro.pdf
/3 - Machine learning control (MLC).pdf
/4 - Methods of linear control theory.pdf
/5 - Benchmarking MLC against linear control.pdf
/6 - Taming nonlinear dynamics with MLC.pdf
/7 - Taming real world flow control experiments .pdf
/8 - MLC tactics and strategy.pdf
/9 - Future developments.pdf
