/1 - Intro.pdf
/10 - Logistic Regression.pdf
/11 - Logistic Regression 2.pdf
/12 - Gradient Descent 4 LR.pdf
/13 - SGD.pdf
/14 - Coordinate Descent 2.pdf
/15 - Kernels.pdf
/16 - Kernels 2.pdf
/17 - Kernels 3.pdf
/18 - NNs 2.pdf
/19 - CNNs.pdf
/20 - KNN.pdf
/21 - PCA.pdf
/22 - PCA 2.pdf
/23 - Spectral clustering.pdf
/24 - Fairness.pdf
/25 - Deep Generative Models.pdf
/26 - Adversarial Attacks on DL.pdf
/4 - Polynomial regression.pdf
/5 - Bias-Variance Tradeoff.pdf
/6 - Bias-Variance Tradeoff 2.pdf
/7 - Regularization.pdf
/8 - Model selection.pdf
/9 - Convexity.pdf
