/1 - Intro.pdf
/10 - Resonance examples.pdf
/11 - Coupled oscillators.pdf
/12 - Normal coordinates.pdf
/13 - Example.pdf
/14 - Normal modes.pdf
/15 - Continuous systems.pdf
/16 - Boundary value problems.pdf
/17 - Fourier analysis.pdf
/18 - Fourier analysis 2.pdf
/2 - Simple harmonic motion.pdf
/20 - Reflection coefficients.pdf
/21 - Waves in 3 dimensinos.pdf
/22 - Review 1.pdf
/23 - Review 2.pdf
/24 - Maxwell_s Equations.pdf
/25 - Propagation of light.pdf
/26 - Polarization.pdf
/27 - Fresnel_s Equations.pdf
/28 - Circular polarization.pdf
/29 - Polarization of Light.pdf
/3 - Wave motion.pdf
/30 - Geometric Optics.pdf
/31 - Thin lenses.pdf
/32 - Apertures and stops.pdf
/33 - Thick lenses.pdf
/34 - Aberrations.pdf
/35 - Optical elements.pdf
/39 - Single-slit diffraction.pdf
/4 - Free vibrations.pdf
/41 - Fresnel diffraction.pdf
/42 - Review 1.pdf
/43 - Review 2.pdf
/44 - Examples.pdf
/5 - Linear approximations.pdf
/6 - Damping.pdf
/7 - RLC circuits.pdf
/8 - Forced oscillations.pdf
/9 - Resonance phenomena.pdf
