/1 - Intro.pdf
/11 - DynaSent.pdf
/13 - RNN classifiers.pdf
/14 - Transformers.pdf
/15 - BERT.pdf
/16 - RoBERTa.pdf
/20 - Speakers.pdf
/29 - Attention.pdf
/3 - Matrix designs.pdf
/31 - Classical IR.pdf
/31 - Neural IR, part 1.pdf
/33 - Neural IR, part 2.pdf
/34 - Neural IR, part 3.pdf
/35 - Relation extraction.pdf
/36 - Data resources.pdf
/37 - Problem formulation.pdf
/38 - Evaluation.pdf
/39 - Simple baselines.pdf
/4 - Vector comparison.pdf
/42 - Classifier metrics.pdf
/44 - Data organization.pdf
/45 - Model evaluation.pdf
/5 - Basic reweighting.pdf
/50 - Feature attribution.pdf
/51 - Your final papers.pdf
/52 - Writing NLP papers.pdf
/54 - Giving talks.pdf
