/1 - Writing an LLVM pass.pdf
/2 - The LLVM test infrastructure.pdf
/3 - Iterating and Casting.pdf
/4 - Interprocedural Optimizations.pdf
/5 - Compiling a Language.pdf
/_LLVM  Intro 1 hour course.pdf
