/1 - Intro.pdf
/10 - Design via Frequency Response.pdf
/11 - Design via State Space.pdf
/12 - Digital Control Systems.pdf
/2 - Modeling in the Frequency Domain.pdf
/3 - Modeling in the Time Domain.pdf
/4 - Time Response.pdf
/5 - Stability.pdf
/6 -  Steady-State Errors.pdf
/7 - Root Locus Techniques.pdf
/8 - Design via Root Locus.pdf
/9 - Frequency Response Techniques.pdf
