/1 - Intro to GP.pdf
/2 - Kernel design.pdf
/3 - Computationally efficient GPs.pdf
/4 - Gaussian Processes and Non-Gaussian Likelih.pdf
/5 - (PDF) Intro to Deep GPs.pdf
/6 - Bayesian neural networks--a function space .pdf
/8 -  State space methods for temporal GPs.pdf
