/01.black-box-ML.pdf
/01a.course-logistics.pdf
/01b.intro-stat-learning-theory.pdf
/01c.gradient-descent.pdf
/02a.SGD.pdf
/02c.L1L2-regularization.pdf
/03a.elastic-net.pdf
/03b.loss-functions.pdf
/03c.subgradient-descent.pdf
/04a.subgradients-continued.pdf
/04b.SVM-summary.pdf
/04c.representer-theorem.pdf
/04d.lagrangian-duality-in-ten-minutes.pdf
/05a.kernel-methods.pdf
/05b.citysense.pdf
/05c.MLE.pdf
/06a.conditional-probability-models.pdf
/06b.bayesian-methods.pdf
/06b.classifier-performance.pdf
/06c.midterm-review.pdf
/08a.bayesian-methods.pdf
/08b.bayesian-regression.pdf
/09a.bayesian-regression.pdf
/09b.multiclass.pdf
/11a.bagging-random-forests.pdf
/11b.gradient-boosting.pdf
/12a.neural-networks.pdf
/12b.backpropagation.pdf
/13a.k-means.pdf
/13b.mixture-models.pdf
/13c.EM-algorithm.pdf
/13d.exam-recap.pdf
/14c.next-steps.pdf
