/1 - Intro.pdf
/10 - SVD.pdf
/11 - Linear Algebra Review.pdf
/12 - Nonlinear Systems.pdf
/13 - Nonlinear Systems 2 - Multiple variables.pdf
/14 - Optimization I - Motivation, 1 variable al.pdf
/15 - Optimization 2 - Unconstrained multivariab.pdf
/16 - Optimization 3 - Constrained Optimization.pdf
/17 - Conjugate Gradients I - Setup.pdf
/18 - Conjugate Gradients 2 - CG and Variants.pdf
/19 - Interpolation.pdf
/2 - Numerics and Error Analysis.pdf
/20 - Numerical Integration and Differentiation.pdf
/21 - Conclusion.pdf
/3 - Linear Systems and LU.pdf
/4 - Norms, Sensitivity and Conditioning.pdf
/5 - Designing and Analyzing Linear Systems.pdf
/6 - Matrix Derivatives.pdf
/7 - Column Spaces and QR.pdf
/8 - Eigenproblems I.pdf
/9 - Eigenproblems II -  Computation.pdf
