/1 - Intro.pdf
/10 - Unconstrained minimization.pdf
/11 - Equality constrained minimization.pdf
/12 - Interior-point methods.pdf
/2 - Convex sets.pdf
/3 - Convex functions.pdf
/4 - Convex optimization problems.pdf
/5 - Duality.pdf
/6 - Approximation and fitting.pdf
/7 - Statistical estimation.pdf
/8 - Geometric problems.pdf
/9 - Numerical linear algebra background.pdf
