/10 - Distributed Naive Bayes.pdf
/11 - Mixture Of Gaussians.pdf
/12 - Hashing & CountMinSketch.pdf
/13 - lsh.pdf
/14 - Hash functions.pdf
/15 - Distributed Trees.pdf
/16 - XGBoost.pdf
/17 - Random NLA.pdf
/18 - GPUs.pdf
/19 - Optimization.pdf
/2 - PCA.pdf
/20 - Optimization 2.pdf
/21 - Momentum-based Optimization.pdf
/22 - Duality.pdf
/24 - Data Parallelism.pdf
/25 - Model Parallelism.pdf
/3 - Spectral Graph.pdf
/4 - Johnson Lindenstrauss Lemma.pdf
/6 - Distributed Linear Regression.pdf
/7 - Nystrom.pdf
/8 - Kernels.pdf
/9 - Kernels + RFFs.pdf
