/1 - How many iterations of gradient descent do .pdf
/2 - Momentum, Acceleration, and Second-Order Me.pdf
/3 - Coordinate Optimization and SGD.pdf
/4 - SGD with Constant Step Sizes, Growing Batch.pdf
/5 - Variance Reduction and 1.5-Order Methods.pdf
/6 - Projected-Gradient, Projecte-Newton, and Fr.pdf
/7 - Global Optimizaiton, Subgradients, and Cutt.pdf
