/1 - Clustering and Retrieval.pdf
/2 - EM and Latent Variables.pdf
/3 - Density estimation - MoG, Hists, KDE.pdf
/4 - Dimensionality Reduction - PCA, embeddings.pdf
/5 - Topic Modeling.pdf
/6 - Outliers and Robust Estimation.pdf
