/0 - Mathematical Background.pdf
/1 - Overview and Generation Units.pdf
/2 - Convex Sets and Convex Functions.pdf
/3 -  Convex Optimization Problems.pdf
/4 -  Lagrangian Duality.pdf
/5 - Economic Dispatch.pdf
