/1 - Intro.pdf
/10 - SSA Continued.pdf
/11 - Sparse Conditional Constant Propagation.pdf
/12 - SSAPRE - SSA based Partial Redundancy Elim.pdf
/13 - SSAPRE - Example.pdf
/14 - Interprocedural Data Flow Analysis.pdf
/15 - Interprocedural Data Flow Analysis Functio.pdf
/17 - Pointer Analysis.pdf
/18 - Types and Program Analysis.pdf
/19 - The Untyped Lambda Calculus.pdf
/2 - Overview of Optimizations.pdf
/20 - Typed Arithmetic Expressions.pdf
/21 - Simply Typed Lambda Calculus.pdf
/22 - Points-to Analysis using Types.pdf
/3 - Data Flow Analysis.pdf
/4 - Data Flow Analysis.pdf
/5 - Foundations of Data Flow Analysis.pdf
/6 - Foundations of Data Flow Analysis.pdf
/7 - Flow Graph Theory.pdf
/8 - Constant Propagation.pdf
/9 - Static Single Assignment (SSA).pdf
