/1 - Intro.pdf
/10 - RNNs.pdf
/11 - RL.pdf
/12 - Non-parametric methods.pdf
/13 - Clustering.pdf
/2 - Linear Classifiers.pdf
/3 - Perceptron.pdf
/4 - Logistic Regression.pdf
/5 - Regression.pdf
/6 - Gradient Descent.pdf
/7 - NNs.pdf
/8 - CNNs.pdf
/9 - Sequential Models.pdf
