/1 - Review of Linear Algebra.pdf
/2 - Differences, Derivatives, and Boundary Cond.pdf
/3 - Positive Definite Matrices and Least Square.pdf
/4 - Oscillation by Newton’s Law_ Graph Models a.pdf
/5 - Damped Harmonic Oscillators and the Laplace.pdf
/6 - Review of Vector Calculus 2_ Fourier Series.pdf
/7 - Laplace’s Equation_ Separation of Variables.pdf
/8 - Finite Element Method 2_ The Discrete Fouri.pdf
/9 - Convolution and Signal Processing_ Fourier .pdf
