/Fundamentals of Model Theory.pdf
/Intro to Model Theory Lec Notes.pdf
/Lecture notes - Model Theory.pdf
/Model Theory (Draft 20 Jul 00).pdf
/Model theory Course Notes.pdf
/Model Theory Draft.pdf
/Model Theory Lecture Notes.pdf
