/1 - Intro.pdf
/10 - Latent Variable Models, MLE & EM.pdf
/11 - Monte Carlo Methods.pdf
/12 - Aproximate Inference Continued - Variational Inference.pdf
/13 - Conditional Random Fields.pdf
/2 - Inference - Variable Elimination.pdf
/3 - Markov Models.pdf
/4 - MLE - Basics.pdf
/5 - Structure Learning in Bayesian Networks.pdf
/6 - Maximum Entropy Learning.pdf
/7 - Learning Undirected Models.pdf
/8 - Jointly Gaussian Models.pdf
/9 - Tree Decompositions & Exact Inference.pdf
