/1 - Intro.pdf
/2 - Centralized Convex ML 1.pdf
/3 - Centralized Convex ML 2.pdf
/4 - Centralized Non-Convex ML.pdf
/5 - Distributed ML.pdf
/6 - Alternating Direction Method of Multipliers.pdf
/7 - Communication Efficiency.pdf
/8 - DNNs.pdf
/9 - Large-scale Training for Deep Neural Networ.pdf
