/11 - Hybrid Intelligent Systems.pdf
/2 - ML & NNs.pdf
/3 - NNs.pdf
/4 - Evolutionary Computation.pdf
/5 - Rule-based Expert Systems.pdf
/6 - Fuzzy Expert Systems.pdf
/7 - Logical reasoning.pdf
/8 - Prolog Programming.pdf
