/1 - Deep Learning Frameworks.pdf
/2 - Backpropagation for Scalar Source Code.pdf
/3 - Backpropagation for Tensor Source Code.pdf
/4 - Minibatching - The Batch Index.pdf
/5 - The Educational Framework (EDF).pdf
