/1 - Linear Algebra Revisited.pdf
/10 - Putting it all together - Online Learning .pdf
/11 - Learning with Distal Teachers.pdf
/12 - Trajectory Planning 1.pdf
/13 - Dynamical Systems as Movement Policies.pdf
/14 - Trajectory Formation through Optimization.pdf
/15 - Predictive Control.pdf
/2 - Statistics & probability theory.pdf
/3 - Intro 2 Sensorimotor Control.pdf
/4 - Learning for Control - Learning from Data.pdf
/5 - Learning for Control - Model Selection.pdf
/6 - Linear Regression.pdf
/7 - Nonlinear & Nonparametric Regression.pdf
/8 - Dimensionality Reduction 1.pdf
/9 - Dimensionality Reduction 2.pdf
