/Aproximating the model evidence.pdf
/Bayesian Linear regression - Predictive Distrib.pdf
/Bayesian Model Comparison.pdf
/Decision Regions.pdf
/Sequential Bayesian Learning.pdf
/The equivalent Kernel.pdf
