/1 - whylimits.pdf
/10 - fundamental_theorem_of_calculus.pdf
/11 - integral.pdf
/12 - foundations.pdf
/13 - integralpractice1.pdf
/14 - FTCproof.pdf
/2 - whatlimits.pdf
/3 - triglimits.pdf
/4 - limitfails.pdf
/5  - derivatives.pdf
/6 - derivatives2.pdf
/7 - derivativepractice.pdf
/8 - meanvalue.pdf
/9 - antiderivatives.pdf
