/1 - Introduction_ Geometric and topological per.pdf
/10 - Representations of 3D Geometry - Voxel-Gri.pdf
/11 - Geometry processing_ Laplace-Beltrami and .pdf
/12 - Rigid and non-rigid shape alignment. Globa.pdf
/13 - Geometric deep learning_ Volumetric and mu.pdf
/14 - Deep nets for pointclouds and applications.pdf
/15 - Functional spaces and functional maps, var.pdf
/16 - Networks of shapes and images_ cycle consi.pdf
/17 - Deep nets for graphs and meshes..pdf
/18 - Encoding shape differences and shape varia.pdf
/2 - Visual data sets - ImageNet and ShapeNet_ T.pdf
/5 - Graph methods_ spectral approaches, graph L.pdf
/6 - Non-linear dimensionality reduction - local.pdf
/7 - Computational topology - topology review, c.pdf
/8 - Persistent homology, barcodes and persisten.pdf
/9 - Topological inference_ the Mapper algorithm.pdf
