/11 - Parallel training of DNNs with local updat.pdf
/12 - Masked Autoencoders Are Scalable Vision Le.pdf
/13 - DL scaling is predictable, empirically.pdf
/14 - Contrastive syn-to-real generalization.pdf
/17 - Can Wikipedia Help Offline Reinforcement L.pdf
/18 - Continual Learning of Longitudinal Health .pdf
/19 - Concrete problems in AI Safety.pdf
/2 - Bitter Lesson, Scaling and GPT-3.pdf
/20 - Attention Bottlenecks for Multimodal Fusio.pdf
/21 - A ConvNet for the 2020s.pdf
/23 - The Effect of Model Size on Worst-Group Ge.pdf
/24 - Unsolved Problems in ML Safety.pdf
/25 - In search of lost domain generalization.pdf
/26 - Continual lifelong learning with NNs - Rev.pdf
/27 - The Role of Pretrained Representations for.pdf
/29 - A General Framework for Self-supervised Le.pdf
/30 - Mastering Games by Planning with a Learned.pdf
/31 - Whats Wrong with Continual Learning in Med.pdf
/32 - OOD Generalization - Survey.pdf
/33 - Effect of Pre-Training Scale on Intra- and.pdf
/34 - Pretrained Transformers as Universal Compu.pdf
/35 - The Lottery Ticket Hypothesis Finding Spar.pdf
/36 - Deconstructing Lottery Tickets.pdf
/37 - Mastering Atari with Discrete World Models.pdf
/38 - Rethinking Bias-Variance Trade-off for Gen.pdf
/4 - Phase Transitions in AI.pdf
/40 - Scaling Laws for Neural Language Models.pdf
/41 - Explaining Neural Scaling Laws (NSL Course.pdf
/42 - Vision Models Are More Robust And Fair Whe.pdf
/43 - Supermasks in Superposition.pdf
/44 - Where Bigger Models and More Data Hurt .pdf
/45 - A Survey on Domain Adaptation.pdf
/46 - Anytime Progressive Pruning.pdf
/47 - Robustness to Adversarial Attacks & Scalin.pdf
/48 - Aligning MAGMA by finetuning and few-shot .pdf
/49 - Architectural approaches CL.pdf
/50 - Scaling for worst-group generalization.pdf
/52 - SpeechBrain scaling study.pdf
/55 - Feature Diversity in Self-Supervised Learn.pdf
/56 - Understanding impact of Scaling in DRL.pdf
/57 - Federated Learning benchmark for domain ge.pdf
/58 - Curriculum learning of arithmetic, composi.pdf
/59 - Scaling Laws for the Few-Shot Adaptation o.pdf
/6 - On Power Laws in Deep Ensembles.pdf
/60 - Expanding CLIP to Audio.pdf
/61 - RL Scaling Laws 4 Visual Control.pdf
/62 - Scaling Backprop Alternatives.pdf
/63 - Scaling Law for Adversarial Robustness.pdf
/7 - DALL-E - Zero-Shot Text-to-Image Generation.pdf
/8 - Continual Learning Survey.pdf
/9 - A Connectomic Hypothesis for the Hominizati.pdf
/_Project Ideas.pdf
