/1 - Course info, Introduction, Conjugate priors.pdf
/10 - Gaussian&Laplace approximations, variation.pdf
/2 - Monte Carlo, Importance sampling, MCMC, Met.pdf
/3 - Gibbs sampling, slice sampling, MCMC accura.pdf
/5 - Linear basis function models, regularizatio.pdf
/6 - Inference using marginal likelihood, infere.pdf
/7 - Gaussian process regression models.pdf
/8 - Gaussian process classification, hierarchic.pdf
/9 - Latent feature models, Indian Buffet Proces.pdf
