/1 - Intro.pdf
/10 - General practical tips.pdf
/11 - DynaSent.pdf
/11 - Hyperparameter search and classifier compa.pdf
/12 - Feature representation.pdf
/13 - RNN classifiers.pdf
/14 - Transformers.pdf
/15 - BERT.pdf
/16 - RoBERTa.pdf
/18 - Practical fine-tuning.pdf
/20 - Speakers.pdf
/22 - Varieties of contextual grounding.pdf
/23 - The Rational Speech Acts model.pdf
/27 - Dataset artifacts and adversarial testing.pdf
/29 - Attention.pdf
/3 - Matrix designs.pdf
/30 - Overview of NLU and Information Retrieval.pdf
/31 - Classical IR.pdf
/31 - Neural IR, part 1.pdf
/33 - Neural IR, part 2.pdf
/34 - Neural IR, part 3.pdf
/35 - Relation extraction.pdf
/36 - Data resources.pdf
/37 - Problem formulation.pdf
/38 - Evaluation.pdf
/39 - Simple baselines.pdf
/4 - Vector comparison.pdf
/40 - Directions to explore.pdf
/42 - Classifier metrics.pdf
/43 - Natural language generation metrics.pdf
/44 - Data organization.pdf
/45 - Model evaluation.pdf
/46 - Analysis methods in NLP - Overview.pdf
/48 - Adversarial training (and testing).pdf
/5 - Basic reweighting.pdf
/50 - Feature attribution.pdf
/51 - Your final papers.pdf
/52 - Writing NLP papers.pdf
/53 - NLP conference submissions.pdf
/54 - Giving talks.pdf
/6 - Dimensionality reduction.pdf
/8 - Static representations from contextual mode.pdf
