/1 - Introduction to the WEKA Explorer.pdf
/2 - Nearest Neighbor Learning and Decision Tree.pdf
/3 - Naive Bayes and SVMs.pdf
/4 - Preprocessing.pdf
/5 - Article Identification.pdf
/6 - Association Rules.pdf
