/10.Lab.conditional-probability-models.pdf
/10a.gradient-boosting-continued.pdf
/10b.citysense.pdf
/10c.conditional-probability-models.pdf
/11.Lab.test-review.pdf
/11a.bayesian-methods.pdf
/11b.bayesian-regression.pdf
/13-PCA-Notes_sol.pdf
/13-PCA-Slides.pdf
/13.kmeans.pdf
/13.Lab.EM-algorithm.pdf
/13.lab.mixture-models.pdf
/13b.mixture-models.pdf
/14a.EM-algorithm.pdf
/14b.neural-networks.pdf
/14c.next-steps.pdf
/1a.course-logistics.pdf
/1b.intro-slt-riskdecomp.pdf
/1c.stoch-grad-descent.pdf
/2.Lab.directional-derivatives.pdf
/2b.L1L2-regularization.pdf
/3a.elastic-net.pdf
/3b.loss-functions.pdf
/4a.convex-optimization.pdf
/4b.SVM.pdf
/5a.SVM-ComplementarySlackness.pdf
/5b.kernel-methods-intro.pdf
/6a.kernels-wrapup.pdf
/6b.features.pdf
/7a.multiclass.pdf
/9a.bagging-random-forests.pdf
/9b.adaboost.pdf
