/3 - Robot programming by frame-based task speci.pdf
/4 - Pick-and-place example of task-level robot .pdf
/5 - Implementation of the pick-and-place exampl.pdf
/6 - Kinematics_ Denavit-Hartenberg representati.pdf
