/1 - Convex Optimization.pdf
/11 - Randomized Algorithms.pdf
/12 - Stochastic Subgradient.pdf
/13 - Variance-Reduced Stochastic Gradient.pdf
/14 - Kernel Methods and Fenchel Duality.pdf
/15 - Online Learning.pdf
/16 - Over-Parameterized Models.pdf
/2 - Gradient Descent Progress Bound.pdf
/3 - Convergence of Gradient Descent.pdf
/4 - Linear and Superlinear Convergence.pdf
/5 - Subgradient Method.pdf
/6 - Projected-Gradient Methods.pdf
/7 - Proximal-Gradient.pdf
/8 - Structured Regularization.pdf
/9 - Coordinate Optimization.pdf
