/1 - Intro.pdf
/2 - ML vs DL.pdf
/3 - From Perceptrons to Feedforward NNs.pdf
/4 - Neural Networks Training and Overfitting.pdf
/5 - RNNs.pdf
/6 - Word Embedding.pdf
/7 - Beyond Seq2Seq Architectures.pdf
