/1 - Fields and their extensions.pdf
/2 - Field automorphisms.pdf
/3 - Polynomials and irreducibility.pdf
/3 - Ring homomorphisms.pdf
/4 - Galois groups.pdf
/5 - Galois group actions and normal field exten.pdf
/6 - The fundamental theorem of Galois theory.pdf
/7 - Ruler and compass constructions.pdf
/8 - Impossibility proofs.pdf
