/1 - Intro & Finite-State Automata.pdf
/2 - The Algebraic Path Problem.pdf
/3 - Weighted Finite-State Transducers, ε-remova.pdf
/4 - Weight Pushing and Minimization.pdf
/5 - Cute Applications of Semirings.pdf
/7 - Grammar Transformations.pdf
/9 - Finite-State Tree Automata.pdf
