/1 - Class Introduction_ Homogeneous Coordinates.pdf
/10 - Tensor-Product and Total Degree Parametric.pdf
/11 - Triangle Meshes and their Representation_ .pdf
/12 - Learned Shape Representations.pdf
/13 - Introduction to Shape Acquisition and Geom.pdf
/14 - Scan Alignment and Registration_ Surface M.pdf
/15 - Mesh Smoothing, Remeshing, Parametrization.pdf
/16 - Mesh Simplification.pdf
/17 - Neural Implicit Formulations_ Course Summa.pdf
/2 - Oriented Projective Geometry_ Euclidean, Af.pdf
/3 - Rotations and Quaternions.pdf
/4 - Shape Modeling - Parametric and Implicit Re.pdf
/5 - Polar Forms of Polynomials.pdf
/6 - Derivatives and Polar Forms_ Continuity Con.pdf
/7 - Splines and B-Splines.pdf
/8 - Rational Curves.pdf
/9 - Subdivision Curves.pdf
