/1 - Intro.pdf
/10 - Resolution Refinements.pdf
/11 - Theorem Proving Strategies.pdf
/12 - Equality Relation.pdf
/13 - Paramodulation.pdf
/2 - Propositional and First Order Logic.pdf
/3 - Skolem Standard Form.pdf
/4 - Herbrand Universe and Herbrand Base.pdf
/5 - H-Interpretation & H-Satisfiability.pdf
/5 - Herbrand_s Theorem.pdf
/6 - DPLL method.pdf
/7 - The Resolution Principle.pdf
/8 - Substitution & Unification.pdf
/9 - The Resolution Principle for First Order Lo.pdf
