/1 - Introduction.pdf
/10 - Conditional Language Modeling with Attenti.pdf
/11 - Speech Recognition.pdf
/12 - Text to Speech.pdf
/13 - Question Answering.pdf
/14 - Memory Lecture.pdf
/15 - Linguistics.pdf
/2 - Deep Neural Networks Are Our Friends.pdf
/3 - Word Level Semantics.pdf
/4 - Overview of the Practicals.pdf
/5 - Language Modelling and RNNs Part 1.pdf
/6 - Language Modelling and RNNs Part 2.pdf
/7 - Text Classification.pdf
/8 - Nvidia RNNs and GPUs.pdf
/9 - Conditional Language Modeling.pdf
