/10_debugging_and_optimization_tools.pdf
/11_perf_debugging_for_HPC_applications.pdf
/12_cloud_computing_&_bigdata_processing.pdf
/16_graph_partitioning.pdf
/17_sparse_linnear_solvers.pdf
/18_lecture17_part2.pdf
/1_intro.pdf
/20_structured_grids.pdf
/21_parallel_graph_algorithms.pdf
/24_hierarchical_methods_n-body_probelem.pdf
/25_fast_fourier_transofrm_FFT.pdf
/26_HPC_cosmic_microwave_background.pdf
/28_modelling_&_predicting_climate change.pdf
/5_lecture4_part2.pdf
/7_tricks_with_trees.pdf
