/1 - Forward & Backward Propagation.pdf
/2 - Computational Graphs.pdf
/3 - Chain Rule in Backprop.pdf
/4 - Symbol-symbol Derivatives.pdf
/5 - General Backprop.pdf
/6 - Other Differentiation Algorithms.pdf
