/01-introduction.pdf
/02-measurement.pdf
/03-boeing-casestudy.pdf
/04-IntroToProcess.pdf
/05-code-archaeology.pdf
/06-RequirementsIntroConcepts.pdf
/07-Req-Analysis.pdf
/07-Req-interviews-risk.pdf
/09-SE_4_ML.pdf
/10-SE_4_ML-2-From principles to Production.pdf
/11-architecture-intro.pdf
/12-architecture-doc-views-trdeoffs-patterns.pdf
/13-design-docs.pdf
/13-designdoc-case-study.pdf
/14-microservices_and_more.pdf
/15-Devops.pdf
/16-qa-intro-testing.pdf
/17-chaos-engineering.pdf
/17-Kubernetes.pdf
/18-static-analysis1.pdf
/19-static-analysis2.pdf
/20-QA_and_ML.pdf
/21-QA_and_ML_2.pdf
/22-qa-process.pdf
/23-qa-process2-inspections.pdf
/24-linearprocess-to-agile.pdf
/25-peopleware.pdf
/Recitation1-Tools for collaborative software de.pdf
/Recitation2-Docker and Docker Compose.pdf
/Recitation5-Software Requirements.pdf
/Recitation6-ML-Setup.pdf
/Recitation6-ML.pdf
