/12 - Image features - Scale-invariant interest .pdf
/14 - Object recognition - template matching_ no.pdf
/15 - Object recognition - 2D shape features_ st.pdf
/16 - Object recognition - Hough transform for p.pdf
/17 - Object recognition - generalized Hough tra.pdf
/2 - Optics, sensors, and image formation.pdf
/23 - Video image processing- object tracking - .pdf
/24 - 3D vision - homogeneous transformations, c.pdf
/25 - 3D vision - stereopsis, stereo corresponde.pdf
/26 - CV and ML - shallow learning vs. deep lear.pdf
/27 - CV and DL - optimization methods and regul.pdf
/28 - CV and DL - CNNs - VGG16, VGG19, ResNet, I.pdf
