/1 - Intro.pdf
/2 - Group Theory - Basics.pdf
/3 - Regular group convolutions - Template Match.pdf
/4 - SE(2) Equivariant NN Example - With histopa.pdf
/5 - A brief history of G-CNNs.pdf
/6 - Group Theory - Homogeneous_Quotient Spaces.pdf
/7 - Group convolutions are all you need.pdf
