/1 - Intro, Basics of ML.pdf
/10 - Adversarial examples.pdf
/11_1 - From Sequences to ViT 2.pdf
/12 - Detection and segmentation.pdf
/12_1 - detection and Segmentation 2.pdf
/13 - Final project.pdf
/14 - Self-supervision.pdf
/15 - VAEs.pdf
/16 - Learning from videos.pdf
/17 - Deep Learning Practitioner_s Toolbox.pdf
/2 - Classification methods.pdf
/3 - NNs.pdf
/4 - Intro to pytorch.pdf
/5 - CNNs.pdf
/6 - CNN architectures.pdf
/7 - Practical training.pdf
/8 - Advanced pytorch.pdf
/9 - Visualizing and understanding NNs.pdf
