/1 - Intro.pdf
/10 - Combining Logic Programs with Object-Orien.pdf
/11 - Defaults and Non-Monotonic Reasoning.pdf
/12 - Answer Set Programming.pdf
/13 - Abductive Reasoning - Explanation and Diag.pdf
/14 - Qualitative Reasoning.pdf
/15 - Constraint Satisfaction Problems.pdf
/16 - Representing Actions.pdf
/17 - Review of Classical Planning & HTN Plannin.pdf
/18 - Practical Planning.pdf
/19 - Abstraction, Reformulation & Approximation.pdf
/2 - Object-Oriented Representation.pdf
/20 - Concluding Remarks.pdf
/3 - Structured Descriptions.pdf
/4 - Structured Descriptions & Tradefoff Between.pdf
/5 - Ontologies.pdf
/6 - Knowledge Representation in Social Context.pdf
/8 - Procedural Control of Reasoning.pdf
/9 - Rules in Production Systems.pdf
