/1 - Parameter Estimation for Bayesian Networks.pdf
/2 - Bayesian Parameter Estimation in Bayesian N.pdf
/3 - Learning Models with Shared Parameters.pdf
/4 - Hierarchical Priors.pdf
/5 - Latent Dirichlet Allocation.pdf
