/1 - Intro.pdf
/11 - Nonparametric Bayes.pdf
/12 - Introduction 2 Convex Optimization 4 ML.pdf
/3 - Regression.pdf
/4 - Clustering.pdf
/5 - Linear Dimensionality Reduction.pdf
/6 - Feature Engineering.pdf
/7 - Collaborative Filtering.pdf
/8 - Active Learning & Experimental Design.pdf
/9 - Evaluation.pdf
