/1 - Intro.pdf
/10 - Light Transport Probing.pdf
/11 - Optical Computing.pdf
/12 - Basic Principles of Light Polarization.pdf
/2 - Basic Principles of Imaging and Photometry.pdf
/3 - Basic Principles of Surface Reflectance.pdf
/4 - Specular Reflections from Rough Surfaces.pdf
/5 - Diffuse Reflections from Rough Surfaces.pdf
/6 - RDF, BTF, Light Fields.pdf
/7 - Lighting.pdf
/8 - Interreflections and Radiosity.pdf
/9 - Computational Light Transport.pdf
