/1 - Introduction.pdf
/11 - Task-parallelism.pdf
/12 - Floating-point.pdf
/13 - Nvidia-libs.pdf
/14 - Thrust.pdf
/15 - MATLAB.pdf
/2 - Build-environment.pdf
/3 - Architecture.pdf
/4 - Cuda-threading.pdf
/6 - Convolution-pa.pdf
/7 - Timers.pdf
/8 - Memory-latency.pdf
/9 - Shared-memory.pdf
