/1 - Introduction to Empirical Demand Analysis.pdf
/11 - Introduction to Simultaneous Equation Econ.pdf
/15 - Estimation of Systems of Simultaneous Equa.pdf
/18 - Quantile Regression Minicourse.pdf
/19 - Panel Data.pdf
/2 - Transformations and the Specification of Ec.pdf
/23 - Counts, Tobit, Sample Selection, and Trunc.pdf
/25 - Introduction to Non-Parametrics.pdf
/26 - Treatment Effects, Matching and Propensity.pdf
/3 - Transformations and Misspecification of Eco.pdf
/4 - Introduction to Dynamic Demand Models in Ec.pdf
/7 - Some Welfare Econometrics of Empirical Dema.pdf
/8 - Introduction to Specification Testing in Dy.pdf
/9 - The Regression Fallacy.pdf
