/AI & AR in the Beaty Industry.pdf
/An Introduction to Statistical Learning Theory .pdf
/Beyond Linearization in DL.pdf
/Bias & Fairness in NLP.pdf
/Continual Visual Learning.pdf
/Cost-sensitive Classification - Techniques and .pdf
/DL for Speech Processing.pdf
/Fundamentals and Applications of Deep RL.pdf
/Geometric DL.pdf
/Holistic Adversarial Robustness for DL.pdf
/Interpretability.pdf
/Large scale learning and planing in RL.pdf
/Meta Learning and its applications to NLP.pdf
/ML in Practice.pdf
/Optimal Transport.pdf
/Probability Divergences and Generative Models.pdf
/Recent Advances in Neural Architectural Search .pdf
/Self-supervised learning and universal modellin.pdf
/The Third AI Summer - Future of AI.pdf
/TinyML and Efficient DL.pdf
