/1 - Monte Carlo Approximation.pdf
/2 - Conjugate Priors.pdf
/3 - Bayesian Learning.pdf
/4 - Empirical Bayes.pdf
/5 - Multi-Class Classification.pdf
/6 - What do we learn.pdf
/7 - RNNs.pdf
/8 - LSTMs.pdf
/9 - Attention and Transformers.pdf
