/1 - Intro.pdf
/10 - Basics of ML.pdf
/11 - MLE.pdf
/12 - Alternatives to MLE.pdf
/13 - EM Algorithm.pdf
/14 - Hidden Markov Models.pdf
/15 - Introduction to Structure Learning.pdf
/16 - Topic Models & LDA.pdf
/17 - Exponential Families & Expectation Propaga.pdf
/18 - Concave Entropy Approximations & Condition.pdf
/19 - Causal Inference.pdf
/2 - Bayesian Networks.pdf
/3 - More Bayesian Networks.pdf
/4 - Markov Random Fields.pdf
/5 - Exact Inference in MRFs.pdf
/6 - Approximate MAP Inference.pdf
/7 - Variational Methods.pdf
/8 - Sampling Methods.pdf
/9 - MCMC Sampling Methods.pdf
