/1 - Sensitivity Analysis.pdf
/10 - Aerodynamic Center.pdf
/11 - Notes on CQ 1.pdf
/12 - Quick Visit to Bernoulli Land.pdf
/13 - Kutta Condition.pdf
/14 - Kutta Condition Solution.pdf
/15 - Thin Airfoil Theory Summary.pdf
/16 - Important Concepts in Thin Airfoil Theory.pdf
/17 - Prandtl’s Lifting Line Introduction.pdf
/18 - Force Calculations for Lifting Line.pdf
/19 - Trefftz Plane Analysis of Induced Drag.pdf
/2 - Kinematics of a Fluid Element.pdf
/20 - Solution to Problem 1.pdf
/21 - Viscous Flow - Stress Strain Relationship.pdf
/22 - Integral Boundary Layer Equations.pdf
/23 - Correlation Methods for Integral Boundary .pdf
/24 - Method of Assumed Profiles.pdf
/25 - Falkner-Skan Flows.pdf
/26 - Effect of Turbulent Fluctuations on Mean F.pdf
/27 - Poiseuille Flow Through a Duct in 2-D.pdf
/28 - Duct Flow (cont.).pdf
/29 - Laminar Boundary Layer Order of Magnitude .pdf
/3 - Stress-Strain Relationship for a Newtonian .pdf
/30 - Solutions of the Laminar Boundary Layer Eq.pdf
/31 - Similarity in Wind Tunnel Testing.pdf
/32 - Single Horseshoe Vortex Wing Model.pdf
/33 - Ground Effect Using Single Vortex Model.pdf
/34 - Three-Dimensional Wall Effects.pdf
/35 - Drag Tare Due to Mount.pdf
/36 - Subsonic Small Disturbance Potential Flow.pdf
/37 - Critical Mach Number.pdf
/38 - Behavior of Isentropic Flow in Quasi-1D.pdf
/39 - Derivation of Sound Wave Properties.pdf
/4 - Coordination Transformations for Strain and.pdf
/40 - Waves in 1D Compressible Flow.pdf
/41 - Normal Shock Waves.pdf
/42 - Propagation of Disturbances By a Moving Ob.pdf
/43 - Linearized Compressible Potential Flow Gov.pdf
/44 - Implications of Linearized Supersonic Flow.pdf
/45 - Oblique Shock Waves.pdf
/46 - Prandtl-Meyer Expansion Waves.pdf
/47 - Computational Methods for the Euler Equati.pdf
/48 - Structured vs. Unstructured Grids.pdf
/49 - olution Convergence.pdf
/5 - Compressible and Incompressible Fluid Eleme.pdf
/6 - Compressible Viscous Equations.pdf
/7 - Compressible Equations.pdf
/8 - Equations of Aircraft Motion.pdf
/9 - Brequet Range Equation.pdf
