/1 - Intro.pdf
/10 - Totally Unimodular Matrices.pdf
/11 - TUMs from Bipartite Graphs.pdf
/12 - The Matching Polytope.pdf
/2 - Farkas’ Lemma.pdf
/3  - Duality.pdf
/4 - Graph Colouring 1.pdf
/5 -  Graph Colouring 2.pdf
/6 - Graph Colouring 3.pdf
/7  -  Weak Perfect Graph Theorem.pdf
/8 - Edge Colouring.pdf
/9 - Integer Linear Programming.pdf
