/1 - Intro.pdf
/10 - Programmable Devices \[updated\].pdf
/11 - Data Storage Elements.pdf
/12 - Finite State Machines.pdf
/13 - Finite State Modeling.pdf
/14 - State Reduction.pdf
/15 - AD Conversion.pdf
/16 - DA Conversion.pdf
/17 - Sensors and Actuators.pdf
/18 - Position and Velocity Measurements.pdf
/19 - DC Motors.pdf
/2 - Passive Electronics.pdf
/20 -  DC Motor Gearing and Control.pdf
/21 - Stepper Motors.pdf
/22 - Data Transfer.pdf
/23 - Final Presentation.pdf
/24 -  Midterm Review.pdf
/25 - Sample Midterm - 2013.pdf
/26 - Sample Midterm - 2014.pdf
/27 - Sample Midterm - 2015.pdf
/28 - PCB Intro.pdf
/3 - Active Electronics (Diodes).pdf
/4 - Active Electronics (Transistors).pdf
/5 - Analog Interfacing.pdf
/6 - Boolean Algebra.pdf
/7 - Boolean Simplification.pdf
/8 - Boolean Implementation.pdf
/9 - Digital Interfacing.pdf
