/1 - Motivation for SE(3) equivariant graph NNs.pdf
/2 -  Equivariant message passing as non-linear .pdf
/3 - Tensor products as conditional linear layer.pdf
/4 - Group Theory - SO(3) irreps (Wigner-D matri.pdf
/5 - 3D Steerable (graph) convolutions.pdf
/6 - Regular (as opposed to steerable) equivaria.pdf
/7 - Gauge equivariant graph NNs.pdf
