/1 - Least Squares.pdf
/10 - Feature Engineering.pdf
/11 - Convolutions.pdf
/12 - Kernel Methods.pdf
/13 - Stochastic Gradient.pdf
/14 - Boosting.pdf
/15 - MLE & MAP.pdf
/2 - Nonlinear Regression.pdf
/3 - Gradient Descent.pdf
/4 - Robust Regression.pdf
/5 - Feature Selection.pdf
/6 - Regularization.pdf
/7 - More Regularization.pdf
/8 - Linear Classifiers.pdf
/9 - More Linear Classifiers.pdf
