/1 - Intro & Overview.pdf
/10 - From complex systems to machine learning.pdf
/11 - Phase Transitions in AI.pdf
/2 - The Unreasonable Effectiveness of Mathemati.pdf
/3 - The Primacy Bias in Deep RL.pdf
/5 - Engineering 4 Giant Transformers.pdf
/6 - Continual learning 4 Language Models.pdf
/7 - Capturing AGIs Value.pdf
/8 - The AGI Tech Stack.pdf
