/1 - Introduction to RL.pdf
/10 - Fast Reinforcement Learning 1.pdf
/11 - Fast Reinforcement Learning 2.pdf
/13 - Fast Reinforcement Learning 3.pdf
/14 - Batch RL.pdf
/16 - Monte Carlo Tree Search.pdf
/2 - Given Model of World.pdf
/3 - Model Free Policy Evaluation.pdf
/4 - Model Free Control.pdf
/5 - Value Function Aproximation.pdf
/6 - CNN_s and Deep Q learning.pdf
/7 - Imitation Learning.pdf
/8 - Policy Gradient 1.pdf
/9 - Policy Gradient 2.pdf
