/1 - Polynomial Time Verification.pdf
/2 - The Classes P and NP.pdf
/3 - The Classes coNP and EXP.pdf
/4 - NP-Hard and NP-Complete Problems.pdf
/5 - Proving NP-Hardness.pdf
/6 - A first NP-Complete Problem.pdf
