/10 - Suffix Tries and Suffix Trees.pdf
/11 - Suffix Arrays.pdf
/12 - BWT & FM-index.pdf
/4 - Pairwise sequence alignment.pdf
/5 - General and affine gap penalties.pdf
/6 - Optimal alignment in linear space.pdf
/7 - Multiple Sequence Alignment.pdf
/9 - Exact pattern matching with KMP.pdf
