/1 - The multistage decision model.pdf
/2 - The value of perfect information.pdf
/3 - The axioms of rational behavior.pdf
/4 - Introduction to utility.pdf
/5 - Risk aversion.pdf
/6 - Multiattribute utility theory.pdf
