/1 - Instance recognition.pdf
/2 - Instance recognition and discovering visual.pdf
/3 - Mining & Intro 2 Category recognition.pdf
/4 - Object detection as supervised classificati.pdf
/5 - HMMs.pdf
/6 - Discriminitive classifiers.pdf
/7 - SVMs.pdf
/8 - Detecting people & Deformable Object Models.pdf
