/1-gradients-Notes.pdf
/1-gradients-Notes_sol.pdf
/1-gradients-Slides.pdf
/3-SVM-Notes.pdf
/3-SVM-Notes_sol.pdf
/3-SVM-Slides.pdf
/4-Subgradients-Notes.pdf
/4-Subgradients-Notes_sol.pdf
/4-Subgradients-Slides.pdf
/5-kernel-methods-continued.pdf
/5-Kernels-Slides.pdf
/9-GBM-Notes.pdf
/9-GBM-Slides.pdf
/bootstrap_bagging_boosting.pdf
/GBM_Lecture.pdf
/midterm-review.pdf
/ML_Final_Review.pdf
/Multiclass_trees_week10.pdf
/neural-network-questions.pdf
/Review-MLE-Conditional-probability-densities.pdf
/structured_prediction_bayesian_recap.pdf
