/1 - Intro.pdf
/10 - Bayesian Estimation 2.pdf
/11 - Bayesian Estimation & Prediction.pdf
/12 - Regression.pdf
/13 - Regression 2.pdf
/14 - Regression 3.pdf
/15 - Bayesian Regression, Priors.pdf
/2 - Probability, continued.pdf
/3 - Structured Probability Distributions.pdf
/4 - Structured Probability Distributions 2.pdf
/5 - Learning and Parameter Estimation.pdf
/6 - Learning and Parameter Estimation 2.pdf
/7 - MLE.pdf
/8 - MLE 2.pdf
/9 - Bayesian Estimation.pdf
