/10 - DNNs.pdf
/11 - Generative Models for classification.pdf
/12 - Structured Output Prediction - Discriminat.pdf
/13 - Online Learning - Expert Setting.pdf
/14 - Online Learning - Partial Information and .pdf
/15 - Clustering.pdf
/16 - Latent Variable Models.pdf
/17 - Recommender systems.pdf
/18 - Counterfactual Model for Learning.pdf
/19 - Counterfactual Model for Learning 2.pdf
/2 - SUpervised Batch Learning.pdf
/20 - Learning to Rank.pdf
/3 - Empirical Risk Minimization, Model Selectio.pdf
/4 - Statistical Learning Theory - Generalizatio.pdf
/5 - Linear Classifiers and Perceptron.pdf
/6 - SVMs and Optimal Hyperplanes.pdf
/7 - SVMs - Soft Margin and Duality.pdf
/8 - Kernels.pdf
/9 - Regularized Linear Models.pdf
